 .company-registration {
   .background {
     background:
       url('../../../../../assets/images/registration/companies-bg.jpg') center center no-repeat;
     height: 956px;
     mix-blend-mode: multiply;

     img {
       width: 300px;
     }
   }

 }
