 .company-registration {
   .background {
     background: linear-gradient(180deg, rgba(0, 63, 132, .8) 0%, rgba(0, 63, 132, .8) 50%, rgba(0, 63, 132, .8)100%),
       url('./../../../assets/images/registration/companies-bg.png') center center no-repeat;
     height: 956px;
     mix-blend-mode: multiply;

     img {
       width: 300px;
     }
   }

 }
