<div class="container my-5">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            kjasdfkaskl
          </div>
        </div>
        <div class="col-md-4">
          <form (submit)="onApply(form)" #form="ngForm">


            <div class="form-group   mb-3">
              <label for="lastName">إسم العائلة</label>
              <input class="form-control" type="text" required ngModel name="lastName" #lastName="ngModel">
            </div>
            <div class="form-group mb-3">
              <label for="email">البريد الالكتروني</label>
              <input class="form-control" type="email" required ngModel name="email" #email="ngModel">
              <span class="text-muted d-inline-block my-2">ستصلك رابط تأكيد على بريدك الالكتروني لتفعيل حسابك</span>
            </div>
            <div class="form-group">
              <label for="jobName">المسمى الوظيفي الخاص بك</label>
              <div class="input-group">

                <select class="form-control" id="jobName" ngModel name="jobName" #jobName="ngModel">
                  <option>المسمى الوظيفي الخاص بك</option>
                  <option>المسمى الوظيفي الخاص بك</option>
                  <option>المسمى الوظيفي الخاص بك</option>
                </select>
                <span class="select-arrow position-absolute">
                  <i class="fa fa-angle-down" style="color: inherit;"></i></span>
              </div>
            </div>
            <div class="form-group">
              <label for="speciality">التخصص</label>
              <div class="input-group">

                <select class="form-control" id="speciality" ngModel name="speciality" #speciality="ngModel">
                  <option>التخصص</option>
                  <option>التخصص</option>
                  <option>التخصص</option>
                </select>
                <span class="select-arrow position-absolute">
                  <i class="fa fa-angle-down" style="color: inherit;"></i></span>
              </div>
            </div>
            <div class="form-group">
              <label for="exp">سنوات الخبرة</label>
              <div class="input-group">

                <select class="form-control" id="exp" ngModel name="exp" #exp="ngModel">
                  <option>1</option>
                  <option>2</option>
                  <option>5+</option>
                </select>
                <span class="select-arrow position-absolute">
                  <i class="fa fa-angle-down" style="color: inherit;"></i></span>
              </div>
            </div>
            <div class="text-center mt-5 d-flex">
              <button class="btn btn-primary btn-block btn-lg" type="submit">سجل الآن</button>
              <button class="btn btn-primary btn-block btn-lg" type="submit">سجل الآن</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
