<div class="modal-header border-0" dir="ltr">
  <button type="button" class="close position-absolute font-roboto" aria-label="Close"
    (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body p-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="view-details-header pr-4">
          <h4 class="text-primary">
            عرض وصف وظيفي
          </h4>
          <h3 class="mt-4">مدير حسابات </h3>
          <p class="text-muted">
            <i class="fa fa-user text-dark ml-1"></i>
            أعمال مالية ومحاسبة
          </p>
          <p class="text-muted">
            <i class="fa fa-user text-dark ml-1"></i>
            مطلوب خبرة 1-3 سنوات
          </p>
        </div>
        <div class="view-details-content">
          <h5 class="text-dark mt-4 mr-4">
            مسئوليات الوظيفة
          </h5>
          <ul class="list-unstyled pr-4">
            <li>
              - لمسئولية الكاملة عن متابعة اصول الشركة
            </li>
            <li>- الاشراف على اعمال التوجيه المحاسبى والتأكد من صحتها</li>
            <li>- الاشراف على اعمال التوجيه المحاسبى والتأكد من صحتها</li>
            <li>- الاشراف على اعمال التوجيه المحاسبى والتأكد من صحتها</li>
            <li>- الاشراف على اعمال التوجيه المحاسبى والتأكد من صحتها</li>
            <li>- الاشراف على اعمال التوجيه المحاسبى والتأكد من صحتها</li>
          </ul>
          <h5 class="text-dark mt-4 mr-4">
            متطلبات الوظيفة </h5>
          <ul class="list-unstyled pr-4">
            <li>
              - لمسئولية الكاملة عن متابعة اصول الشركة
            </li>
            <li>- الاشراف على اعمال التوجيه المحاسبى والتأكد من صحتها</li>
            <li>- الاشراف على اعمال التوجيه المحاسبى والتأكد من صحتها</li>
            <li>- الاشراف على اعمال التوجيه المحاسبى والتأكد من صحتها</li>
            <li>- الاشراف على اعمال التوجيه المحاسبى والتأكد من صحتها</li>
            <li>- الاشراف على اعمال التوجيه المحاسبى والتأكد من صحتها</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="modal-footer text-center pt-0">
  <!--  buttons-->
  <div class="col-md-6 text-center m-auto">
    <div class="d-grid text-center my-4">
      <button class="btn btn-outline-primary btn-lg" [routerLink]="['hr-add-new-job-description']"
        (click)="activeModal.close('Close click')"> تعديل</button>
      <button class="btn btn-primary btn-lg" (click)="activeModal.close('Close click')">إغلاق</button>
    </div>
  </div>
  <!-- / buttons -->
</div>
