<div class="modal-header border-0" dir="ltr">
  <button type="button" class="close position-absolute font-roboto" aria-label="Close"
    (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h5 class="text-primary text-semiBold font-16">
          عمار عبد العزيز راشد
        </h5>
        <p class="my-2 text-dark">
          <i class="fa fa-briefcase pl-1" aria-hidden="true"></i>
          عمل لدى شركة أرامكو حتى يناير 2020 </p>
        <p class="my-2 text-dark">
          <i class="fa fa-graduation-cap pl-1" aria-hidden="true"></i>
          دبلومة التجارة من جامعة القاهرة
        </p>
        <div class="d-flex items flex-wrap pb-2">
          <p class="my-1 text-dark pl-3">
            <i class="fa fa-map-marker pl-1" aria-hidden="true"></i>
            الرياض</p>

          <p class="my-1 text-dark  pl-3">
            <i class="fa fa-user pl-1" aria-hidden="true"></i>
            خبرة 1 -3 سنوات</p>
          <p class="my-1 text-dark  pl-3">
            <i class="fa fa-user-circle-o pl-1" aria-hidden="true"></i>
            35 عام</p>
        </div>
      </div>
      <div class="col-md-5 ">
        <div class="bg-primary d-flex align-items-center ml-4">
          <div class="w-100 text-primary text-center">
            <p class="mb-4">نسبة مناسبته للوظيفة</p>
            <p>
              <strong class="font-roboto" style="font-size: 46px;">98%</strong>
            </p>
          </div>

        </div>
      </div>
      <div class="col-md-12">
        <h5 class="text-primary text-semiBold font-16">
          مهاراته
        </h5>
        <div class="badges mt-3">
          <span class="badge badge-info p-2  mb-2">فوتوشوب
          </span>
          <span class="badge badge-info p-2 mb-2">مايكروسوفت وورد
          </span>
          <span class="badge badge-info p-2 mb-2">مايكروسوفت إكسل
          </span>
          <span class="badge badge-info p-2 mb-2">فوتوشوب
          </span>
          <span class="badge badge-info p-2 mb-2">مايكروسوفت وورد
          </span>
          <span class="badge badge-info p-2 mb-2">مايكروسوفت إكسل
          </span>
          <span class="badge badge-info p-2 mb-2">فوتوشوب
          </span>
          <span class="badge badge-info p-2 mb-2">مايكروسوفت وورد
          </span>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="modal-footer text-center pt-0 ">
  <div class="col-md-12">
    <div class="mt-4">
      <div class="d-grid">
        <div class="text-right my-2">
          <button class="btn btn-primary py-2 px-4  btn-lg">الملف الشخصي</button>
        </div>
        <div class="d-grid">
          <button class="btn btn-outline-primary btn-lg py-2 px-4 my-2" (click)="openReqMeetup()">
            طلب مقابلة
          </button>
          <button class="btn btn-outline-primary btn-lg py-2 px-4  my-2"> ترشيح </button></div>
      </div>
    </div>
  </div>
</div>
