//responsive breakpoints
$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; //800px
$bp-small: 37.5em; //600px

.border {
  border: 1px solid #E5E5E5;

}

.list {
  background-color: #f8f9fc;
  max-height: 550px;
  overflow: auto;

  .card-content {
    background: #FFFFFF;
    height: max-content;

    @media only screen and (max-width: $bp-medium) {
      margin: .5rem !important;
    }

    p.text-muted,
    p.text-dark {
      font-size: 15px;

    }

    .btn {
      padding: .3em 2em;
    }
  }
}

.d-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;

  &.small-card {
    grid-column-gap: 0;
  }
}
