<div class="container my-5 ">
  <div class="row">
    <div class="col-md-12">
      <h4 class="main-title">
        أهلا بك يا عبدالله
      </h4>
    </div>
    <div class="col-md-12">
      <!--Content-->
      <div class="card">
        <div class="row">
          <div class=" col-md-12">
            <div class="card-header">
              <h4>
                <i class="fa fa-edit"></i> تقييم طلب التسجيل</h4>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12">
                  <div class="request-status">
                    <div class="text-success d-flex">
                      <span class="bg-success">
                        <img src="../../../../assets/images/review-steps/check-circle.svg">
                      </span>
                      <p class="mt-1">
                        إدخال البيانات
                      </p>
                    </div>
                    <div class="text-warning d-flex">
                      <span class="bg-warning">
                        <i class="fa fa-info" aria-hidden="true"></i>
                      </span>
                      <p class="mt-1">
                        قيد المراجعة من قبل موظف كفاءات
                      </p>
                    </div>
                    <div class="text-light-grey d-flex">
                      <span class="bg-light-grey">
                        <i class="fa fa-info" aria-hidden="true"></i>
                      </span>
                      <p class="mt-1">
                        المراجعه من قبل مدير الموارد البشرية
                      </p>
                    </div>
                    <div class="text-light-grey d-flex">
                      <span class="bg-light-grey">
                        <i class="fa fa-info" aria-hidden="true"></i>
                      </span>
                      <p class="mt-1">
                        الموافقه علي الطلب
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-xs-12">
                  <div class="employee-notice">
                    <h5>ملاحظات الموظف</h5>
                    <p>- من فضلك أرفق صورة واضحة لشهادة الخبرة المتعلقة بـ (مدير حسابات في شركة الحياة)</p>
                    <p>- من فضلك أرفق صورة واضحة لشهادة الخبرة المتعلقة بـ (مدير حسابات في شركة الحياة)</p>
                    <p>- من فضلك أرفق صورة واضحة لشهادة الخبرة المتعلقة بـ (مدير حسابات في شركة الحياة)</p>
                    <p>- من فضلك أرفق صورة واضحة لشهادة الخبرة المتعلقة بـ (مدير حسابات في شركة الحياة)</p>
                    <p>- من فضلك أرفق صورة واضحة لشهادة الخبرة المتعلقة بـ (مدير حسابات في شركة الحياة)</p>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/Content-->
    </div>
    <!--  buttons-->
    <div class="col-md-3 text-left mt-4">
      <button class="btn btn-primary btn-block" [routerLink]="['/seeker-dashboard']"> تعديل الملف</button>
    </div>
    <!-- / buttons -->
  </div>

</div>
