.job-card-content {
  padding: 15px;
  background: #FFFFFF;
  border: 1px solid #CDCDCD;
  border-radius: 5px;
  margin-bottom: 20px;

  h5 {
    color: #003F84;

    .fa {
      float: left;
      margin-top: 3px;
    }
  }

  p {
    font-size: 15px;
    font-family: gulf-bold;
    color: #3F9BC8;
    margin-top: 5px;
    margin-bottom: 0;
  }
}
