<div class="container my-5">
  <div class="row">
    <div class="col-md-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item text-dark" aria-current="page">
            <i class="fa fa-home" style="font-size: 28px;" aria-hidden="true"></i></li>
          <li class="breadcrumb-item active d-flex align-items-center" aria-current="page">
            <p class="m-0 font-semibold">الاشتراك</p>
          </li>
        </ol>
      </nav>

      <div class="heading">
        <h3 class="text-primary">الاشتراكات</h3>
        <p class="text-muted">أنت الآن مشترك في (الباقة الأساسية)</p>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-7 my-2">
          <div class="container-fluid">

            <div class="row subscription">
              <div class="col-md-5 p-0">
                <div class="price bg-gold d-flex flex-column p-5 text-white">
                  <h6 class="mb-3">الباقة الذهبية</h6>
                  <p class="mb-3"><strong>800</strong>ريال<span>/ سنوياً</span></p>
                  <p class="desc">تناسب الشركات الناشئة والصغيرة وتركز على استقطاب الكوادر</p>
                </div>
              </div>
              <div class="col-md-7 p-0">
                <div class="px-5 py-4">
                  <p class="text-dark font-bold">مميزات الباقة</p>
                  <ul class="list-unstyled">
                    <li>
                      <i class="fa fa-check-circle text-success pl-2" aria-hidden="true"></i>
                      أقصى حد للمستخدمين 3 أشخاص
                    </li>
                    <li>
                      <i class="fa fa-check-circle text-success pl-2" aria-hidden="true"></i>
                      3 طلبات توظيف شهريًا
                    </li>
                    <li>
                      <i class="fa fa-check-circle text-success pl-2" aria-hidden="true"></i>
                      طلب إرشاد مهني واحد شهريًا
                    </li>
                    <li>
                      <i class="fa fa-check-circle text-success pl-2" aria-hidden="true"></i>
                      طلبان ترشيح موظف شهريًا
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-5 my-2">
          <div class="card">
            <div class="row p-3">
              <div class="col-md-9 my-2">
                <p class="text-dark mb-2 font-semibold m-0">
                  <i class="fa fa-calendar-o pl-2" aria-hidden="true"></i>
                  سارية حتى 25 ديسمبر 2020 م </p>
                <p class="text-info m-0">
                  <i class="fa fa-exclamation-circle pl-2" aria-hidden="true"></i>
                  متبقي أقل من شهرعلى انتهاء الباقة </p>
              </div>
              <div class="col-md-3 my-2">
                <button class="btn btn-primary btn-block">تجديد</button>
              </div>
            </div>
            <div class="px-3">
              <div class="custom-control custom-checkbox px-4 py-2">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label text-muted font-semibold" for="customCheck1">هل تريد تجديد الباقة
                  تلقائيًا؟</label>
              </div>
            </div>

            <hr>
            <div class="cta px-3 d-flex justify-content-between pt-2">
              <button class="btn btn-primary btn-block ml-3">تغيير الاشتراك</button>
              <button class="btn btn-outline-danger btn-block m-0" (click)="open()">إلغاء الاشتراك</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<section class="faqs my-5" id='faqs'>
  <div class="container">
    <div class="row">
      <div class="col-md-6 p-4">
        <app-faqs></app-faqs>
      </div>
      <div class="col-md-6 p-4">
        <app-faqs></app-faqs>
      </div>
    </div>
  </div>
</section>
