<div class="container my-5">
  <div class="row">
    <div class="col-md-12">
      <div class="header d-flex flex-wrap justify-content-between  align-items-center">
        <h2 class="text-primary mb-4">أهلا بك يا محمد</h2>
        <button class="btn btn-primary btn-lg px-4 mb-4">طلب جديد</button>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-8">

      <div class="card container-fluid">
        <div class="card-head row p-3 flex-wrap justify-content-between align-items-center">
          <p class="text-primary font-bold m-0"><i class="fa fa-arrows-h pl-2" aria-hidden="true"></i>
            الطلبات</p>
          <button class="btn btn-link text-info font-semibold">عرض الكل</button>
        </div>
        <div class="card-content py-2 row text-center align-items-center">
          <div class="col-md-2 p-0  my-2">
            <p class="m-0 text-muted">
              <i class="fa fa-long-arrow-right text-info" aria-hidden="true"></i>
              20 مارس</p>
          </div>
          <div class="col-md-6 p-0 text-right  pr-2 my-2">
            <p class="m-0 text-dark">طلب مقابلة من أحمد السيد (مدير موارد بشرية)</p>
          </div>
          <div class="col-md-2  p-0 my-2">
            <div class="alert d-inline-block alert-success" role="alert">
              في انتظار الرد </div>
          </div>
          <div class="col-md-2 p-0  my-2">
            <button class="btn btn-primary">متابعة</button>
          </div>
        </div>

        <div class="card-content py-2 row text-center align-items-center">
          <div class="col-md-2 p-0 my-2">
            <p class="m-0 text-muted">
              <i class="fa fa-long-arrow-left text-info" aria-hidden="true"></i>
              20 مارس</p>
          </div>
          <div class="col-md-6 p-0  text-right pr-2 my-2">
            <p class="m-0 text-dark">طلب إعادة تقييم الأهلية لسوق العمل</p>
          </div>
          <div class="col-md-2  p-0 my-2">
            <div class="alert d-inline-block alert-danger" role="alert">
              تم إغلاق الطلب </div>
          </div>
          <div class="col-md-2 p-0  my-2">
            <button class="btn btn-outline-primary">تفاصيل</button>
          </div>
        </div>


        <div class="card-content py-2 text-center row align-items-center">
          <div class="col-md-2 p-0  my-2">
            <p class="m-0 text-muted">
              <i class="fa fa-long-arrow-left text-info" aria-hidden="true"></i>
              20 مارس</p>
          </div>
          <div class="col-md-6 p-0 text-right pr-2 my-2">
            <p class="m-0 text-dark">طلب إيجاد وظيفة</p>
          </div>
          <div class="col-md-2  p-0 my-2 justify-content-center">
            <div class="alert d-inline-block alert-warning" role="alert">
              تحت المتابعة </div>
          </div>
          <div class="col-md-2 p-0  my-2">
            <button class="btn btn-primary">متابعة</button>
          </div>
        </div>
      </div>
      <div class="card container-fluid mt-3">
        <div class="card-head row p-3 flex-wrap justify-content-between align-items-center">
          <p class="text-primary font-bold m-0"><i class="fa fa-th-list pl-2" aria-hidden="true"></i>
            الخدمات</p>
          <button class="btn btn-link text-info font-semibold">عرض الكل</button>
        </div>
        <div class="card-content py-2 row align-items-center">
          <ul class="d-grid my-3">
            <li class="text-dark">تقييم الأهلية لسوق العمل</li>
            <li class="text-dark">طلب إيجاد وظيفة</li>
          </ul>
        </div>
        <div class="card-content py-2 row align-items-center">
          <ul class="d-grid my-3">
            <li class="text-dark">طلب تحسين السيرة الذاتية</li>
            <li class="text-dark">طلب إرشاد مهني</li>
          </ul>
        </div>
      </div>

    </div>
    <div class="col-md-4">
      <div class="card container-fluid">
        <div class="card-content py-2 row align-items-center">
          <div class="col-md-8 my-4">
            <div class="alert d-inline-block alert-primary mb-3" role="alert">
              تحت المتابعة </div>
            <h5 class="text-info mb-3">لديك 200 نقطة</h5>
            <p class="text-muted m-0">متبقي 100 نقطة حتى تحصل على العضوية الفضية</p>
          </div>
          <div class="col-md-4 d-flex flex-wrap align-items-center justify-content-around">
            <img src="./../../../../assets/images/medal-blue.svg" alt="medal" class="img-fluid mb-4">
            <button class="btn btn-outline-primary">تفاصيل</button>

          </div>
        </div>
      </div>


      <ul class="list-group p-0 my-3">
        <li class="list-group-item">
          <p class="font-bold text-success mt-3">ملفك الشخصي مكتمل</p>

          <div class="row my-3">
            <div class="col-md-2">
              <strong class="text-success font-roboto">25%</strong>
            </div>
            <div class="col-md-10">
              <div class="progress mt-2" style="height: 10px;">
                <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25"
                  aria-valuemin="0" aria-valuemax="100"></div>

              </div>

            </div>
          </div>
          <p class="text-dark"> <span class="font-bold">تقييمك الحالي:</span> مؤهل لسوق العمل </p>

        </li>
        <li class="list-group-item">
          <p class="my-2"><i class="fa fa-picture-o pl-2" aria-hidden="true"></i>أضف صورة شخصية </p>
        </li>
        <li class="list-group-item">
          <p class="my-2">
            <i class="fa fa-users pl-2" aria-hidden="true"></i>جدّد حالتك الاجتماعية</p>
        </li>
        <li class="list-group-item">
          <p class="mb-4"><i class="fa fa-briefcase pl-2" aria-hidden="true"></i>جدّد خبراتك الوظيفية</p>
          <button class="btn btn-outline-primary mb-3">عرض الملف الشخصي</button>
        </li>
      </ul>

    </div>
  </div>
</div>
