<div class="notifications">
  <div class="container my-5">
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex flex-wrap justify-content-between  align-items-center">
          <h3 class="text-primary mb-4">التنبيهات</h3>
          <div>
            <button class="btn btn-outline-primary btn-lg px-4 mb-4">
              <i class="fa fa-check" aria-hidden="true"></i>
              إعتبار الكل مقرؤه
            </button>
            <button class="btn btn-outline-primary mr-3 btn-lg px-4 mb-4">
              <i class="fa fa-cog" aria-hidden="true"></i>
              الإعدادات
            </button>
          </div>

        </div>
      </div>
      <div class="col-md-12">
        <div class="list-wrapper py-4 pr-3 pl-5">
          <p class="pb-4 text-primary font-bold">اليوم</p>
          <ul class="numbered list-unstyled">
            <li>
              <div class="d-flex list-wrapper p-3 align-items-center">
                <p class="date font-roboto">
                  11:45
                </p>
                <p class="date pr-4">
                  <i class="fa fa-circle text-primary pl-2" aria-hidden="true"></i>
                  قام <span _ngcontent-prf-c106="" class="font-bold">أحمد السيد</span> بدعوتك الي مقابله تليفونيه </p>
              </div>
            </li>
            <li>
              <div class="d-flex list-wrapper p-3 align-items-center">
                <p class="date font-roboto">
                  11:45
                </p>
                <p class="date pr-4">
                  <i class="fa fa-circle text-primary pl-2" aria-hidden="true"></i>
                  قام <span _ngcontent-prf-c106="" class="font-bold">أحمد السيد</span> بدعوتك الي مقابله تليفونيه </p>
              </div>
            </li>
            <li>
              <div class="d-flex list-wrapper p-3 align-items-center">
                <p class="date font-roboto">
                  11:45
                </p>
                <p class="date pr-4">
                  <i class="fa fa-circle text-primary pl-2" aria-hidden="true"></i>
                  قام <span _ngcontent-prf-c106="" class="font-bold">أحمد السيد</span> بدعوتك الي مقابله تليفونيه </p>
              </div>
            </li>
          </ul>

          <hr>

          <p class="pb-4 text-primary font-bold">الأمس</p>
          <ul class="numbered list-unstyled">
            <li>
              <div class="d-flex list-wrapper p-3 align-items-center">
                <p class="date font-roboto">
                  11:45
                </p>
                <p class="date pr-4">
                  <i class="fa fa-circle text-primary pl-2" aria-hidden="true"></i>
                  قام <span _ngcontent-prf-c106="" class="font-bold">أحمد السيد</span> بدعوتك الي مقابله تليفونيه </p>
              </div>
            </li>
          </ul>

          <hr>

          <p class="pb-4 text-primary font-bold">مارس</p>
          <ul class="numbered list-unstyled">
            <li>
              <div class="d-flex list-wrapper p-3 align-items-center">
                <p class="date font-roboto">
                  11:45
                </p>
                <p class="date pr-4">
                  <i class="fa fa-circle text-primary pl-2" aria-hidden="true"></i>
                  قام <span _ngcontent-prf-c106="" class="font-bold">أحمد السيد</span> بدعوتك الي مقابله تليفونيه </p>
              </div>
            </li>
            <li>
              <div class="d-flex list-wrapper p-3 align-items-center">
                <p class="date font-roboto">
                  11:45
                </p>
                <p class="date pr-4">
                  <i class="fa fa-circle text-primary pl-2" aria-hidden="true"></i>
                  قام <span _ngcontent-prf-c106="" class="font-bold">أحمد السيد</span> بدعوتك الي مقابله تليفونيه </p>
              </div>
            </li>
            <li>
              <div class="d-flex list-wrapper p-3 align-items-center">
                <p class="date font-roboto">
                  11:45
                </p>
                <p class="date pr-4">
                  <i class="fa fa-circle text-primary pl-2" aria-hidden="true"></i>
                  قام <span _ngcontent-prf-c106="" class="font-bold">أحمد السيد</span> بدعوتك الي مقابله تليفونيه </p>
              </div>
            </li>
          </ul>

          <div class="cta text-center mt-5">
            <button class="btn btn-primary btn-lg px-5">المزيد</button>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
