<div class="testemonials">
  <div class="container h-100">
    <div class="row py-5 text-center justify-content-center align-content-center h-100">
      <div class="col-md-6">
        <img src="./../../../assets/images/registration/quo.svg" class="mb-4" alt="quotation mark">
        <ngb-carousel #carousel interval="1000" [showNavigationArrows]="false" [showNavigationIndicators]="true">
          <ng-template ngbSlide *ngFor="let item of testemonials">
            <p class="mb-4">{{item.testemonial}}</p>
            <h6>{{item.name}}</h6>
            <span class="text-muted d-inline-block mb-4">{{item.title}}</span>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>
</div>
