.card-content {
  border: unset;
  background: #FFFFFF;
  border: 1px solid #CDCDCD;
  border-radius: 5px;
}

.items {
  font-size: 15px;
}

.media {
  padding: 1rem 2rem;

}

.view-details-content {
  ul {
    li {
      padding: 5px 0;
      color: #666666;
      font-size: 15px;
    }
  }
}

a {
  align-self: center;
  text-decoration: underline;
  color: #FA6457;
  cursor: pointer;
}
