//responsive breakpoints
$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; //800px
$bp-small: 37.5em; //600px

.card-content {
  border: unset;
  background: #FFFFFF;
  border: 1px solid #CDCDCD;
  border-radius: 5px;
}

.items {
  font-size: 15px;
}

.media {
  padding: 1rem 2rem;

}


a {
  align-self: center;
  text-decoration: underline;
  color: #FA6457;
  cursor: pointer;
}

.d-grid {

  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: 1fr;
  }


}
