<div class="container mt-5 mb-2">
  <div class="row">
    <div class="col-md-6">
      <h4 class="text-primary mb-3" dir="ltr">إكمال الملف الشخصي الخاص بـ شركة الأمل</h4>
      <p class="text-muted">البيانات الاختيارية ستكون ملحقة بكلمة (اختياري) باقي البيانات مطلوبة</p>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-5 d-flex justify-content-between">
          <span class="font-bold">نسبة اكتمال الملف</span>
          <strong class="text-success font-roboto">25%</strong>
        </div>
        <div class="col-md-7">
          <div class="progress mt-2" style="height: 10px;">
            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-2 mb-5">
  <div class="row">

    <!-- personal info -->
    <div class="col-md-12">
      <section class="personal-info">
        <div class="header">
          <h4 class="py-4 pr-5 m-0">
            <span class="ml-2">
              <i class="fa fa-file-text-o" aria-hidden="true"></i>
            </span>
            البيانات الأساسية</h4>
          <p class="status">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            <i class="fa fa-check-circle" aria-hidden="true"></i>
          </p>
        </div>
        <div class="body">
          <form #form="ngForm">
            <!-- basic info section -->
            <section class="section py-4 pr-5">

              <div class="row">
                <div class="form-group col-md-6">
                  <label for="firstName">اسم الجهة</label>
                  <input class="form-control" type="text" required ngModel name="firstName" #firstName="ngModel">
                </div>
                <div class="form-group col-md-6">
                  <label for="firstName">قطاع العمل</label>
                  <div class="input-group">
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>قطاع العمل</option>
                    </select>
                    <span class="select-arrow position-absolute">
                      <i class="fa fa-angle-down" style="color: inherit;"></i></span>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="firstName">الشكل القانوني</label>
                  <div class="input-group">
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>الشكل القانوني</option>
                    </select>
                    <span class="select-arrow position-absolute">
                      <i class="fa fa-angle-down" style="color: inherit;"></i></span>
                  </div>
                </div>
                <div class="form-group col">
                  <label>تاريخ الميلاد</label>
                  <div class="d-flex">
                    <div class="input-group ml-2">
                      <select class="form-control" id="exampleFormControlSelect1">
                        <option>شهر</option>
                      </select>
                      <span class="select-arrow position-absolute">
                        <i class="fa fa-angle-down" style="color: inherit;"></i></span>
                    </div>
                    <div class="input-group ml-2">
                      <select class="form-control" id="exampleFormControlSelect1">
                        <option>سنه</option>
                      </select>
                      <span class="select-arrow position-absolute">
                        <i class="fa fa-angle-down" style="color: inherit;"></i></span>
                    </div>
                    <div class="input-group ml-2">
                      <select class="form-control" id="exampleFormControlSelect1">
                        <option>هجري</option>
                      </select>
                      <span class="select-arrow position-absolute">
                        <i class="fa fa-angle-down" style="color: inherit;"></i></span>
                    </div>

                  </div>
                </div>


              </div>

              <div class="row">
                <div class="form-group col-md-12">
                  <label for="id">عنوان الفرع الرئيسي</label>
                  <div class="row">
                    <div class="form-group col-md-3 pl-0">
                      <div class="input-group">
                        <select class="form-control" id="exampleFormControlSelect1">
                          <option>المدينة</option>
                        </select>
                        <span class="select-arrow position-absolute">
                          <i class="fa fa-angle-down" style="color: inherit;"></i></span>
                      </div>
                    </div>
                    <div class="form-group col-md-3">
                      <div class="input-group">
                        <select class="form-control" id="exampleFormControlSelect1">
                          <option>المنطقة</option>
                        </select>
                        <span class="select-arrow position-absolute">
                          <i class="fa fa-angle-down" style="color: inherit;"></i></span>
                      </div>
                    </div>
                    <div class="form-group col-md-3">
                      <div class="input-group">
                        <select class="form-control" id="exampleFormControlSelect1">
                          <option>الحي</option>
                        </select>
                        <span class="select-arrow position-absolute">
                          <i class="fa fa-angle-down" style="color: inherit;"></i></span>
                      </div>
                    </div>
                    <div class="form-group col-md-3">
                      <div class="input-group">
                        <select class="form-control" id="exampleFormControlSelect1">
                          <option>اسم الشارع</option>
                        </select>
                        <span class="select-arrow position-absolute">
                          <i class="fa fa-angle-down" style="color: inherit;"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="middleName">صندوق البريد</label>
                  <input class="form-control" type="text" required ngModel name="middleName" #middleName="ngModel">
                </div>
                <div class="form-group col-md-6">
                  <label for="lastName">رقم الهاتف</label>
                  <input class="form-control" type="text" placeholder="+966475909858" required ngModel name="lastName"
                    #lastName="ngModel">
                </div>
              </div>
            </section>

            <!-- email info section -->
            <section class="section py-4 pr-5">
              <div class="form-group row">
                <div class="col-md-6">
                  <label for="email">البريد الالكتروني</label>
                  <input class="form-control" type="email" required ngModel name="email" #email="ngModel">
                </div>
              </div>
              <div class="form-group row">
                <div class="form-group col-md-6">
                  <label for="middleName">رقم السجل التجاري</label>
                  <input class="form-control" type="text" required ngModel name="middleName" #middleName="ngModel">
                </div>
                <div class="form-group col-md-6">
                  <label for="lastName">جهة الإصدار</label>
                  <input class="form-control" type="text" required ngModel name="lastName" #lastName="ngModel">
                </div>
                <div class="form-group col-md-6">
                  <label>تاريخ الإصدار</label>
                  <div class="d-flex">
                    <div class="input-group ml-2">
                      <select class="form-control" id="exampleFormControlSelect1">
                        <option>شهر</option>
                      </select>
                      <span class="select-arrow position-absolute">
                        <i class="fa fa-angle-down" style="color: inherit;"></i></span>
                    </div>
                    <div class="input-group ml-2">
                      <select class="form-control" id="exampleFormControlSelect1">
                        <option>سنه</option>
                      </select>
                      <span class="select-arrow position-absolute">
                        <i class="fa fa-angle-down" style="color: inherit;"></i></span>
                    </div>

                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label>تاريخ الانتهاء</label>
                  <div class="d-flex">
                    <div class="input-group ml-2">
                      <select class="form-control" id="exampleFormControlSelect1">
                        <option>شهر</option>
                      </select>
                      <span class="select-arrow position-absolute">
                        <i class="fa fa-angle-down" style="color: inherit;"></i></span>
                    </div>
                    <div class="input-group ml-2">
                      <select class="form-control" id="exampleFormControlSelect1">
                        <option>سنه</option>
                      </select>
                      <span class="select-arrow position-absolute">
                        <i class="fa fa-angle-down" style="color: inherit;"></i></span>
                    </div>
                    <div class="input-group ml-2">
                      <select class="form-control" id="exampleFormControlSelect1">
                        <option>هجري</option>
                      </select>
                      <span class="select-arrow position-absolute">
                        <i class="fa fa-angle-down" style="color: inherit;"></i></span>
                    </div>

                  </div>
                </div>
                <div class="col-md-12">
                  <label for="middleName">الحساب البنكي</label>
                  <div class="row">
                    <div class="form-group col-md-6">
                      <input class="form-control" type="text" placeholder="اسم البنك" required ngModel name="middleName"
                        #middleName="ngModel">
                    </div>
                    <div class="form-group col-md-6">
                      <input class="form-control" type="text" placeholder="اسم الحساب" required ngModel name="lastName"
                        #lastName="ngModel">
                    </div>
                  </div>

                </div>

              </div>
            </section>

            <!--next button -->
            <div class="row">
              <div class="col-md-3 mx-5">
                <button class="btn btn-lg btn-primary my-4 py-2">
                  <span class="mx-5">
                    التالي
                  </span>
                </button> </div>
            </div>
          </form>
        </div>
      </section>
    </div>

    <!-- Qualifications -->
    <div class="col-md-12 my-3">
      <section class="qualifications">
        <div class="header">
          <h4 class="py-4 pr-5 m-0">
            <span class="ml-2">
              <i class="fa fa-user-circle-o" aria-hidden="true"></i>
            </span>
            الأشخاص المفوضين</h4>
          <p class="status">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            <i class="fa fa-check-circle" aria-hidden="true"></i>
          </p>
        </div>
        <div class="body">
          <form #form="ngForm">
            <!-- manager section -->
            <section class="section py-4 pr-5">
              <div class="row">
                <div class="col-md-12">
                  <h5 class="text-info">
                    المدير العام
                  </h5>
                </div>
              </div>
            </section>
            <section class="section py-4 pr-5">
              <div class="row">
                <div class="form-group col-md-4">
                  <label for="firstName">الإسم الأول</label>
                  <input class="form-control" type="text" required ngModel name="firstName" #firstName="ngModel">
                </div>
                <div class="form-group col-md-4">
                  <label for="middleName">اسم الأب</label>
                  <input class="form-control" type="text" required ngModel name="middleName" #middleName="ngModel">
                </div>
                <div class="form-group col-md-4">
                  <label for="lastName">إسم العائلة</label>
                  <input class="form-control" type="text" required ngModel name="lastName" #lastName="ngModel">
                </div>
                <div class="col-md-6 mt-4">
                  <label for="email">رقم الجوال</label>
                  <div>
                    <ngx-intl-tel-input dir="ltr" [cssClass]="'form-control font-roboto'"
                      [preferredCountries]="preferredCountries" [enableAutoCountrySelect]="false"
                      [enablePlaceholder]="true" [searchCountryFlag]="true"
                      [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                      [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.India" [maxLength]="15"
                      [tooltipField]="TooltipLabel.Name" [phoneValidation]="true" [separateDialCode]="separateDialCode"
                      name="phone">
                    </ngx-intl-tel-input>
                  </div>
                </div>
                <div class="col-md-6 mt-4">
                  <label for="phoneNumber">رقم الهاتف (اختياري)</label>
                  <input class="form-control" type="text" required ngModel name="phoneNumber" #phoneNumber="ngModel">
                </div>
                <div class="col-md-6 mt-4">
                  <label for="email">البريد الالكتروني</label>
                  <input class="form-control" type="email" required ngModel name="email" #email="ngModel">
                </div>
              </div>
            </section>
            <!-- user section -->
            <section class="section py-4 pr-5">
              <div class="row">
                <div class="col-md-12">
                  <h5 class="text-info">
                    موظف (1)
                  </h5>
                </div>
              </div>
            </section>
            <section class="section py-4 pr-5">
              <div class="row">
                <div class="form-group col-md-4">
                  <label for="firstName">الإسم الأول</label>
                  <input class="form-control" type="text" required ngModel name="firstName" #firstName="ngModel">
                </div>
                <div class="form-group col-md-4">
                  <label for="middleName">اسم الأب</label>
                  <input class="form-control" type="text" required ngModel name="middleName" #middleName="ngModel">
                </div>
                <div class="form-group col-md-4">
                  <label for="lastName">إسم العائلة</label>
                  <input class="form-control" type="text" required ngModel name="lastName" #lastName="ngModel">
                </div>
                <div class="form-group col-md-12">
                  <label for="lastName">المسمى الوظيفي</label>
                  <input class="form-control" type="text" required ngModel name="lastName" #lastName="ngModel">
                </div>
                <div class="col-md-6 mt-4">
                  <label for="email">رقم الجوال</label>
                  <div>
                    <ngx-intl-tel-input dir="ltr" [cssClass]="'form-control text-right font-roboto'"
                      [preferredCountries]="preferredCountries" [enableAutoCountrySelect]="false"
                      [enablePlaceholder]="true" [searchCountryFlag]="true"
                      [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                      [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.India" [maxLength]="15"
                      [tooltipField]="TooltipLabel.Name" [phoneValidation]="true" [separateDialCode]="separateDialCode"
                      name="phone">
                    </ngx-intl-tel-input>
                  </div>
                </div>
                <div class="col-md-6 mt-4">
                  <label for="phoneNumber">رقم الهاتف (اختياري)</label>
                  <input class="form-control" type="text" required ngModel name="phoneNumber" #phoneNumber="ngModel">
                </div>
                <div class="col-md-6 mt-4">
                  <label for="email">البريد الالكتروني</label>
                  <input class="form-control" type="email" required ngModel name="email" #email="ngModel">
                </div>
              </div>
            </section>
            <!--next button -->
            <div class="row">
              <div class="col-md-12 mx-5">
                <button class="btn btn-lg btn-primary my-4 py-2">
                  <span class="mx-5">
                    التالي
                  </span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </section>
    </div>


    <!-- Human Resources -->
    <div class="col-md-12 my-3">
      <section class="qualifications">
        <div class="header">
          <h4 class="py-4 pr-5 m-0">
            <span class="ml-2">
              <i class="fa fa-users" aria-hidden="true"></i>
            </span>
            الموارد البشرية</h4>
          <p class="status">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            <i class="fa fa-check-circle" aria-hidden="true"></i>
          </p>
        </div>
        <div class="body">
          <form #form="ngForm">

            <section class="section py-4 pr-5">
              <div class="row">
                <div class="form-group col-md-4">
                  <label for="firstName">عدد الموظفين</label>
                  <input class="form-control" type="text" required ngModel name="firstName" #firstName="ngModel">
                </div>
                <div class="form-group col-md-4">
                  <label for="middleName">عدد السعوديين</label>
                  <input class="form-control" type="text" required ngModel name="middleName" #middleName="ngModel">
                </div>
              </div>
              <div class="row">

                <div class="form-group col-md-4">
                  <label for="lastName">عدد الرجال</label>
                  <input class="form-control" type="text" required ngModel name="lastName" #lastName="ngModel">
                </div>
                <div class="form-group col-md-4">
                  <label for="email">عدد النساء</label>
                  <input class="form-control" type="text" required ngModel name="email" #email="ngModel">
                </div>
              </div>
            </section>
            <!-- manager section -->
            <section class="section py-4 pr-5">
              <div class="row">
                <div class="col-md-12">
                  <h5 class="text-info">
                    مدير الموارد البشرية </h5>
                </div>
              </div>
            </section>

            <section class="section py-4 pr-5">
              <div class="row">
                <div class="form-group col-md-4">
                  <label for="firstName">الإسم الأول</label>
                  <input class="form-control" type="text" required ngModel name="firstName" #firstName="ngModel">
                </div>
                <div class="form-group col-md-4">
                  <label for="middleName">اسم الأب</label>
                  <input class="form-control" type="text" required ngModel name="middleName" #middleName="ngModel">
                </div>
                <div class="form-group col-md-4">
                  <label for="lastName">إسم العائلة</label>
                  <input class="form-control" type="text" required ngModel name="lastName" #lastName="ngModel">
                </div>
                <div class="form-group col-md-12">
                  <label for="lastName">المسمى الوظيفي</label>
                  <input class="form-control" type="text" required ngModel name="lastName" #lastName="ngModel">
                </div>
                <div class="col-md-6 mt-4">
                  <label for="email">رقم الجوال</label>
                  <div>
                    <ngx-intl-tel-input dir="ltr" [cssClass]="'form-control text-right font-roboto'"
                      [preferredCountries]="preferredCountries" [enableAutoCountrySelect]="false"
                      [enablePlaceholder]="true" [searchCountryFlag]="true"
                      [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                      [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.India" [maxLength]="15"
                      [tooltipField]="TooltipLabel.Name" [phoneValidation]="true" [separateDialCode]="separateDialCode"
                      name="phone">
                    </ngx-intl-tel-input>
                  </div>
                </div>
                <div class="col-md-6 mt-4">
                  <label for="phoneNumber">رقم الهاتف (اختياري)</label>
                  <input class="form-control" type="text" required ngModel name="phoneNumber" #phoneNumber="ngModel">
                </div>
                <div class="col-md-6 mt-4">
                  <label for="email">البريد الالكتروني</label>
                  <input class="form-control" type="email" required ngModel name="email" #email="ngModel">
                </div>
              </div>
            </section>

          </form>

        </div>
      </section>
    </div>


  </div>
  <!--Finish button -->
  <div class="row justify-content-center">
    <div class="col-md-5 mx-5 text-center">
      <button class="btn btn-lg btn-block btn-primary my-4 py-2" routerLink="/regs/company/welcome">
        <span class="mx-5">
          إكمال
        </span>
      </button>

      <span class="text-info">حفظ التعديلات والإكمال لاحقًا</span>
    </div>
  </div>
</div>
