<div class="container my-5 ">
  <div class="row">
    <div class="col-md-12">
      <h4 class="main-title m-0 mb-3">
        تدقيق طلب تسجيل جديد / رقم 145879
      </h4>
    </div>
  </div>
  <div class="card-content">
    <div class="row">
      <!-- right side -->
      <div class="col-md-4">
        <!-- Seeker Info -->
        <div class="row info-card">
          <span class="text-blue  col-md-5">
            الإسم
          </span>
          <p class="text-dark mb-3 font-semibold col-md-7">
            أحمد / محمود / سالم
          </p>
          <span class="text-blue  col-md-5">
            رقم الهوية
          </span>

          <p class="m-0 text-dark mb-3  font-semibold col-md-7">
            18963247
          </p>
          <span class="text-blue col-md-5">
            تاريخ اصدار الهوية
          </span>
          <p class="m-0 text-dark mb-3 font-semibold col-md-7">
            رجب 1425
          </p>
          <span class="text-blue col-md-5">
            تاريخ الميلاد
          </span>
          <p class="m-0 text-dark mb-3  font-semibold col-md-7">
            24 يناير 1988 ميلاديا
          </p>
          <span class="text-blue  col-md-5">
            الجنس
          </span>
          <p class="m-0 text-dark mb-3  font-semibold  col-md-7">
            ذكر
          </p>
          <span class="text-blue  col-md-5">
            العنوان
          </span>
          <p class="m-0 text-dark mb-3  font-semibold  col-md-7">
            مكة / العزيزية
          </p>
        </div>
        <div class="row info-card">
          <span class="text-blue  col-md-5">
            البريد الإلكتروني
          </span>
          <p class="text-dark mb-3 font-semibold col-md-7">
            example@gmail.com
          </p>
          <span class="text-blue  col-md-5">
            رقم الجوال
          </span>
          <p class="m-0 text-dark mb-3 font-semibold col-md-7">
            0157247896325
          </p>
          <span class="text-blue col-md-5">
            رقم الهاتف
          </span>
          <p class="m-0 text-dark mb-3 font-semibold col-md-7">
            01254789358
          </p>
        </div>
        <div class="row info-card">
          <span class="text-blue  col-md-5">
            الحالة الإجتماعية
          </span>
          <p class="text-dark mb-3 font-semibold col-md-7">
            متزوج
          </p>
          <span class="text-blue  col-md-5">
            الحالة الزظيفية
          </span>
          <p class="m-0 text-dark mb-3 font-semibold col-md-7">
            موظف
          </p>
          <span class="text-blue col-md-5">
            رخصة القيادة
          </span>
          <p class="m-0 text-dark mb-3 font-semibold col-md-7">
            توجد رخصة قيادة
          </p>
          <span class="text-blue col-md-5">
            هل لديك إعاقة
          </span>
          <p class="m-0 text-dark mb-3 font-semibold col-md-7">
            لا توجد إعاقة
          </p>
          <span class="text-blue col-md-5">
            السيرة الذاتية
          </span>
          <p class="m-0 text-dark mb-3 font-semibold col-md-7">
            عرض الملف
          </p>

        </div>
        <div class="row info-card">
          <span class="text-blue  col-md-5">
            سنوات الخبرة
          </span>
          <p class="text-dark mb-3 font-semibold col-md-7">
            4 سنوات
          </p>
          <span class="text-blue  col-md-5">
            المجالات المفضلة للعمل
          </span>
          <p class="m-0 text-dark mb-3 font-semibold col-md-7">
            طب وصيدلة
          </p>
          <span class="text-blue col-md-5">
            المناطق المفضلة للعمل
          </span>
          <p class="m-0 text-dark mb-3 font-semibold col-md-7">
            الرياض / الدمام
          </p>
          <span class="text-blue col-md-5">
            إمكانية السفر
          </span>
          <p class="m-0 text-dark mb-3 font-semibold col-md-7">
            نعم
          </p>
          <span class="text-blue col-md-5">
            اللغات
          </span>
          <p class="m-0 text-dark mb-3 font-semibold col-md-7">
            العربية / اللغه الإنجليزية - متقن
          </p>
          <span class="text-blue col-md-5">
            المهارات
          </span>
          <p class="m-0 text-dark mb-3 font-semibold col-md-7">
            مايكروسوفت إكسل / مايكروسوفت وورد
          </p>

        </div>
        <!-- /Seeker Info -->
        <!-- /right side -->
      </div>
      <!-- /right side -->
      <!-- left side -->
      <div class="col-md-8 ">
        <!---->
        <div class="info-card">
          <h4 class="text-blue font-bold font-16">المؤهلات العلمية</h4>

          <!--Certificate-Box-->
          <div class="card-details">
            <div class="header">
              <h4 class="font-semibold">درجة الماجستير في الصيدلة</h4>
              <a>عرض الشهادة</a>
            </div>
            <p>كلية الصيدلة، جامعة الملك فهد، المملكة العربية السعودية</p>
            <div class="row">
              <div class="col-md-2">
                <p>2012 - 2018</p>
              </div>
              <div class="col-md-10">
                <p>
                  <span class="font-bold ml-2">
                    تقدير
                  </span>
                  جيد جدا
                </p>
              </div>
            </div>


          </div>
          <!--/Certificate-Box-->
          <!--Certificate-Box-->
          <div class="card-details">
            <div class="header">
              <h4 class="font-semibold">درجة الماجستير في الصيدلة</h4>
              <a>عرض الشهادة</a>
            </div>
            <p>كلية الصيدلة، جامعة الملك فهد، المملكة العربية السعودية</p>
            <div class="row">
              <div class="col-md-2">
                <p>2012 - 2018</p>
              </div>
              <div class="col-md-10">
                <p>
                  <span class="font-bold ml-2">
                    تقدير
                  </span>
                  جيد جدا
                </p>
              </div>
            </div>


          </div>
          <!--/Certificate-Box-->
        </div>
        <!--/-->
        <!---->
        <div class="info-card">
          <h4 class="text-blue font-bold font-16"> الخبرات العلمية</h4>

          <!--Certificate-Box-->
          <div class="card">
            <div class="card-details">
              <div class="header">
                <h4 class="font-semibold">صيدلي</h4>
                <a>عرض شهادة الخبرة</a>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <p>مستشفي السلام</p>
                </div>
                <div class="col-md-8">
                  <p>
                    <span class="font-bold ml-2">
                      مجال عمل الجهة
                    </span>
                    صحة / مستشفيات / صيدلة
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <p>
                    <span class="font-bold ml-2">
                      القاهرة
                    </span>
                    مصر</p>
                </div>
                <div class="col-md-8">
                  <p>
                    <span class="font-bold ml-2">
                      تخصص الوظيفة
                    </span>
                    أعمال طبية
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <p> يناير 2018 , يناير 2019</p>
                </div>
                <div class="col-md-8">
                  <p>
                    دوام كامل
                  </p>
                </div>
              </div>

            </div>
            <h5>مراجعة وتنفيذ وصفات الطبيب للتحقق من ملاءمتها.</h5>
            <h5> تنظيم الصيدلية بطريقة فعالة لجعل تحديد المنتجات أسهل
              وأسرع.
            </h5>
            <h5>
              الحفاظ تخزين وترتيب الأدوية وغيرها من المنتجات ومتابعتها والتأكد من مدة الصلاحية.
            </h5>

          </div>
          <!--/Certificate-Box-->
          <!--Certificate-Box-->
          <div class="card">
            <div class="card-details">
              <div class="header">
                <h4 class="font-semibold">صيدلي</h4>
                <a>عرض شهادة الخبرة</a>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <p>مستشفي السلام</p>
                </div>
                <div class="col-md-8">
                  <p>
                    <span class="font-bold ml-2">
                      مجال عمل الجهة
                    </span>
                    صحة / مستشفيات / صيدلة
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <p>
                    <span class="font-bold ml-2">
                      القاهرة
                    </span>
                    مصر</p>
                </div>
                <div class="col-md-8">
                  <p>
                    <span class="font-bold ml-2">
                      تخصص الوظيفة
                    </span>
                    أعمال طبية
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <p> يناير 2018 , يناير 2019</p>
                </div>
                <div class="col-md-8">
                  <p>
                    دوام كامل
                  </p>
                </div>
              </div>

            </div>
            <h5>مراجعة وتنفيذ وصفات الطبيب للتحقق من ملاءمتها.</h5>
            <h5> تنظيم الصيدلية بطريقة فعالة لجعل تحديد المنتجات أسهل
              وأسرع.
            </h5>
            <h5>
              الحفاظ تخزين وترتيب الأدوية وغيرها من المنتجات ومتابعتها والتأكد من مدة الصلاحية.
            </h5>

          </div>
          <!--/Certificate-Box-->
        </div>
        <!--/-->
      </div>
      <!--/left side -->
    </div>
  </div>
  <!--  buttons-->
  <div class="col-md-4 text-center mt-4">
    <div class="d-grid">
      <button class="btn btn-primary" (click)="open()"> قبول</button>
      <button class="btn btn-outline-danger mr-3" (click)="openRejRequest()"> رفض</button>
    </div>
  </div>
  <!-- / buttons -->
</div>
