<div class="container-fluid">
  <div class="row">
    <div class="archive w-100">
      <article class="article">
        <div>

          <span class="badge badge-light">التوظيف</span>
          <h5 class="my-3">
            دعم وتمويل القطاع الخاص من خلال اتخاذ إجراءات احترازية
          </h5>
          <p class="font-roboto">
            29 / 3 / 2020
            <i class="fa pl-2 fa-calendar-o" aria-hidden="true"></i>
          </p>
        </div>

      </article>
      <article class="article">2
        <div>

          <span class="badge badge-light">نصائح</span>
          <h5 class="my-3">
            دعم وتمويل القطاع الخاص من خلال اتخاذ إجراءات احترازية
          </h5>
          <p class="font-roboto">
            29 / 3 / 2020
            <i class="fa pl-2 fa-calendar-o" aria-hidden="true"></i>
          </p>
        </div>
      </article>
      <article class="article">3
        <div>

          <span class="badge badge-light">التوظيف</span>
          <h5 class="my-3">
            من شرفات المنازل.. النشيد الوطني يصدح في سماء السعودية </h5>
          <p class="font-roboto">
            29 / 3 / 2020
            <i class="fa pl-2 fa-calendar-o" aria-hidden="true"></i>
          </p>
        </div>
      </article>
      <article class="article">4
        <div>

          <span class="badge badge-light">التسويق</span>
          <h5 class="my-3">
            من شرفات المنازل.. النشيد الوطني يصدح في سماء السعودية </h5>
          <p class="font-roboto">
            29 / 3 / 2020
            <i class="fa pl-2 fa-calendar-o" aria-hidden="true"></i>
          </p>
        </div>
      </article>
    </div>


    <section class="statistics w-100">
      <div class="container">
        <div class="row text-center align-items-center">
          <div class="col-md-3">
            <div class="p-4 statistics-section">
              <img class="img-fluid mt-5" src="./../../../../assets/images/pages/landing/job-search-symbol.svg"
                alt="trophy">
              <div><strong class=" font-roboto"> +7465
                </strong></div>
              <p class="mb-4">مدير الموارد البشرية</p>
            </div>

          </div>
          <div class="col-md-3">
            <div class="p-4 statistics-section">

              <img class="img-fluid mt-5" src="./../../../../assets/images/pages/landing/job-search-in-newspapers.svg"
                alt="trophy">
              <div><strong class=" font-roboto"> +65
                </strong></div>
              <p class="mb-4">وظيفة جديدة</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="p-4 statistics-section">

              <img class="img-fluid mt-5"
                src="./../../../../assets/images/pages/landing/list-with-possible-workers-to-choose.svg" alt="trophy">
              <div><strong class=" font-roboto"> +465
                </strong></div>
              <p class="mb-4">متقدم للوظائف</p>

            </div>
          </div>
          <div class="col-md-3">
            <div class="p-4 statistics-section">

              <img class="img-fluid mt-5" src="./../../../../assets/images/pages/landing/trophy.svg" alt="trophy">
              <div><strong class=" font-roboto"> +465
                </strong></div>
              <p class="mb-4">جوائز دولية</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="how-it-works w-100">
      <div class="container my-5">
        <div class="row text-center align-items-center justify-content-center">
          <div class="col-md-8 text-center">
            <h3 class="mb-4">كيف تعمل كفاءات</h3>
            <p class="text-muted">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص
              العربى، حيث يمكنك
              أن تولد مثل هذا النص أو العديد</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <img class="img-fluid mt-5 mb-4"
              src="./../../../../assets/images/pages/landing/business-job-search-symbol.svg" alt="trophy">
            <div>
              <h5 class="text-primary mb-4">أبحث عن وظيفة أحلامك</h5>
              <p class="text-muted mb-4">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من
                مولد النص
                العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد</p>
            </div>
            <button class="btn btn-info mt-3">سجل الآن</button>
          </div>
          <div class="col-md-4">
            <img class="img-fluid mt-5 mb-4"
              src="./../../../../assets/images/pages/landing/woman-searching-job-verified-symbol.svg" alt="trophy">
            <div>
              <h5 class="text-primary mb-4">مديرين موارد بشرية محترفين</h5>
              <p class="text-muted mb-4">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من
                مولد النص
                العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد</p>
            </div>
            <button class="btn btn-info mt-3">سجل الآن</button>
          </div>
          <div class="col-md-4">
            <img class="img-fluid mt-5 mb-4"
              src="./../../../../assets/images/pages/landing/job-search-symbol-of-suitcase-and-curriculum-paper.svg"
              alt="trophy">
            <div>
              <h5 class="text-primary mb-4">تواصل مع كبرى الشركات والجهات</h5>
              <p class="text-muted mb-4">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من
                مولد النص
                العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد</p>
            </div>
            <button class="btn btn-info mt-3">سجل الآن</button>
          </div>
        </div>
      </div>
    </section>

    <section class="tabs home w-100 my-5">

      <ngb-tabset>
        <ngb-tab title="شركاء النجاح">
          <ng-template ngbTabContent>
            <div class="d-flex justify-content-around flex-wrap">
              <img class="img-fluid mt-5 mb-4" *ngFor="let item of partners"
                src="./../../../../assets/images/pages/landing/logo-{{item}}.png" alt="partner">
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="أهم عملائنا">
          <ng-template ngbTabContent>
            <div class="d-flex justify-content-around flex-wrap">
              <img class="img-fluid mt-5 mb-4" *ngFor="let item of clients"
                src="./../../../../assets/images/pages/landing/client-{{item}}.png" alt="client">
            </div>

          </ng-template>
        </ngb-tab>
      </ngb-tabset>

    </section>
    <section class="testemonials landing-page w-100">
      <div class="container h-100 ">
        <div class="row text-center justify-content-center align-content-center h-100">
          <h3 class="mb-5 mt-5 text-primary">ماذا قالوا عن كفاءات</h3>

          <div class="col-md-12">
            <ngb-carousel #carousel interval="1000" [showNavigationArrows]="false" [showNavigationIndicators]="true">
              <ng-template ngbSlide *ngFor="let item of carousolLoop">
                <div class="row text-right">
                  <div class="col-md-6 mb-5">
                    <div class="card p-4">

                      <img src="./../../../assets/images/pages/landing/quotation.svg" class="mt-2 align-self-baseline"
                        alt="quotation mark">
                      <p class="mb-5">{{testemonials[item].item1.testemonial}}</p>
                      <div class="grid">
                        <img src="./../../../assets/images/pages/landing/user.png" class="img-fluid">
                        <div>
                          <h6>{{testemonials[item].item1.name}}</h6>
                          <span class="text-muted d-inline-block mb-4">{{testemonials[item].item1.title}}</span>
                        </div>
                      </div>

                    </div>
                  </div>

                  <div class="col-md-6 mb-5">
                    <div class="card p-4">

                      <img src="./../../../assets/images/pages/landing/quotation.svg" class="mt-2 align-self-baseline"
                        alt="quotation mark">
                      <p class="mb-5">{{testemonials[item].item2.testemonial}}</p>
                      <div class="grid">
                        <img src="./../../../assets/images/pages/landing/user.png" class="img-fluid">
                        <div>
                          <h6>{{testemonials[item].item2.name}}</h6>
                          <span class="text-muted d-inline-block mb-4">{{testemonials[item].item2.title}}</span>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

              </ng-template>
            </ngb-carousel>
          </div>
        </div>
      </div>
    </section>

    <section class="subscribe w-100">
      <div class="container my-5">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-10">
            <div class="row align-items-center justify-content-center">
              <div class="col-md-4 text-center mb-3">
                <img src="./../../../assets/images/pages/landing/send-mail.png" class="img-fluid">
              </div>
              <div class="col-md-8 text-right">
                <h3 class="text-primary pl-5">
                  قم بالإشتراك في النشرة البريدية في كفاءات لتتابع المزيد عنا
                </h3>
                <form class="form-inline">
                  <input type="text" class="form-control ml-4 my-3" placeholder="البريد الالكتروني">
                  <button class="btn btn-primary px-5 my-3">إشترك الأن</button>

                </form>
              </div>
            </div>

          </div>
        </div>
      </div>

    </section>

  </div>
</div>
