.navbar {
  background-color: #fff;
  box-shadow: 0px 10px 35px #003F841A;

  .btn {
    width: 120px;
  }

  a {
    font-family: gulf-bold;
    color: #666666;

    .log-out {
      font-size: 22px;
    }
  }
}
