<div class="container my-5">
  <div class="row">
    <div class="col-md-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item text-dark" aria-current="page"><i class="fa fa-home" style="font-size: 28px;"
              aria-hidden="true"></i></li>
          <li class="breadcrumb-item active d-flex align-items-center" aria-current="page">
            <p class="m-0 font-semibold">الاشتراكات</p>
          </li>
        </ol>
      </nav>

      <div class="heading">
        <h3 class="text-primary">أنواع الاشتراكات</h3>
        <p class="text-muted">اختر باقة تناسب شركتك باقات اشتراكات تناسب الجميع</p>
      </div>
    </div>
    <div class="col-md-12 my-5">
      <div class="row">

        <div class="col-md-3">
          <div class="h-100">
            <div class="chosen d-flex align-items-center justify-content-center text-center">
              <p class="text-white p-3">الباقة الحالية</p>
            </div>

            <div class="subscription p-3">
              <h5 class="text-info">الباقة الأساسية</h5>
              <p class="text-muted">تناسب الشركات الناشئة والصغيرة وتركز على استقطاب الكوادر</p>
              <div class="price bg-info d-flex align-items-center justify-content-center text-white">
                <p>مجانًا</p>
              </div>
              <p class="text-dark font-bold">مميزات الباقة</p>
              <ul class="list-unstyled">
                <li>
                  <i class="fa fa-check-circle text-success pl-2" aria-hidden="true"></i>
                  أقصى حد للمستخدمين 3 أشخاص
                </li>
                <li>
                  <i class="fa fa-check-circle text-success pl-2" aria-hidden="true"></i>
                  3 طلبات توظيف شهريًا
                </li>
                <li>
                  <i class="fa fa-check-circle text-success pl-2" aria-hidden="true"></i>
                  طلب إرشاد مهني واحد شهريًا
                </li>
                <li>
                  <i class="fa fa-check-circle text-success pl-2" aria-hidden="true"></i>
                  طلبان ترشيح موظف شهريًا
                </li>
              </ul>
              <div class="cta p-3">
                <button class="btn btn-outline-primary btn-lg btn-block">اختيار</button>
              </div>
            </div>
          </div>

        </div>

        <div class="col-md-3">
          <div class="h-100">
            <div class="most-selling d-flex align-items-center justify-content-center text-center">
              <p class="text-white p-3">الأكثر مبيعًا</p>
            </div>
            <div class="subscription p-3">
              <h5 class="text-primary">الباقة المتقدمة</h5>
              <p class="text-muted">تناسب الشركات الناشئة والصغيرة وتركز على استقطاب الكوادر</p>
              <div class="price bg-primary d-flex align-items-center justify-content-center text-primary">
                <p><strong>180</strong>ريال<span>/ سنوياً</span></p>
              </div>
              <p class="text-dark font-bold">مميزات الباقة</p>
              <ul class="list-unstyled">
                <li>
                  <i class="fa fa-check-circle text-success pl-2" aria-hidden="true"></i>
                  أقصى حد للمستخدمين 3 أشخاص
                </li>
                <li>
                  <i class="fa fa-check-circle text-success pl-2" aria-hidden="true"></i>
                  3 طلبات توظيف شهريًا
                </li>
                <li>
                  <i class="fa fa-check-circle text-success pl-2" aria-hidden="true"></i>
                  طلب إرشاد مهني واحد شهريًا
                </li>
                <li>
                  <i class="fa fa-check-circle text-success pl-2" aria-hidden="true"></i>
                  طلبان ترشيح موظف شهريًا
                </li>
              </ul>
              <div class="cta p-3">
                <button class="btn btn-outline-primary btn-lg btn-block">اختيار</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="subscription p-3">
            <h5 class="text-muted">الباقة الفضية</h5>
            <p class="text-muted">تناسب الشركات الناشئة والصغيرة وتركز على استقطاب الكوادر</p>
            <div class="price bg-muted d-flex align-items-center justify-content-center text-white">
              <p><strong>500</strong>ريال<span>/ سنوياً</span></p>
            </div>
            <p class="text-dark font-bold">مميزات الباقة</p>
            <ul class="list-unstyled">
              <li>
                <i class="fa fa-check-circle text-success pl-2" aria-hidden="true"></i>
                أقصى حد للمستخدمين 3 أشخاص
              </li>
              <li>
                <i class="fa fa-check-circle text-success pl-2" aria-hidden="true"></i>
                3 طلبات توظيف شهريًا
              </li>
              <li>
                <i class="fa fa-check-circle text-success pl-2" aria-hidden="true"></i>
                طلب إرشاد مهني واحد شهريًا
              </li>
              <li>
                <i class="fa fa-check-circle text-success pl-2" aria-hidden="true"></i>
                طلبان ترشيح موظف شهريًا
              </li>
              <li>
                <i class="fa fa-check-circle text-success pl-2" aria-hidden="true"></i>
                طلبان ترشيح موظف شهريًا
              </li>
              <li>
                <i class="fa fa-check-circle text-success pl-2" aria-hidden="true"></i>
                طلبان ترشيح موظف شهريًا
              </li>
            </ul>
            <div class="cta p-3">
              <button class="btn btn-outline-primary btn-lg btn-block">اختيار</button>
            </div>
          </div>
        </div>


        <div class="col-md-3">
          <div class="subscription p-3">
            <h5 class="text-gold">الباقة الذهبية</h5>
            <p class="text-muted">تناسب الشركات الناشئة والصغيرة وتركز على استقطاب الكوادر</p>
            <div class="price bg-gold d-flex align-items-center justify-content-center text-white">
              <p><strong>800</strong>ريال<span>/ سنوياً</span></p>
            </div>
            <p class="text-dark font-bold">مميزات الباقة</p>
            <ul class="list-unstyled">
              <li>
                <i class="fa fa-check-circle text-success pl-2" aria-hidden="true"></i>
                أقصى حد للمستخدمين 3 أشخاص
              </li>
              <li>
                <i class="fa fa-check-circle text-success pl-2" aria-hidden="true"></i>
                3 طلبات توظيف شهريًا
              </li>
              <li>
                <i class="fa fa-check-circle text-success pl-2" aria-hidden="true"></i>
                طلب إرشاد مهني واحد شهريًا
              </li>
              <li>
                <i class="fa fa-check-circle text-success pl-2" aria-hidden="true"></i>
                طلبان ترشيح موظف شهريًا
              </li>
              <li>
                <i class="fa fa-check-circle text-success pl-2" aria-hidden="true"></i>
                طلبان ترشيح موظف شهريًا
              </li>
              <li>
                <i class="fa fa-check-circle text-success pl-2" aria-hidden="true"></i>
                طلبان ترشيح موظف شهريًا
              </li>
            </ul>
            <div class="cta p-3">
              <button class="btn btn-outline-primary btn-lg btn-block">اختيار</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<section class="faqs my-5" id='faqs'>
  <div class="container">
    <h1></h1>
    <div class="row">
      <div class="col-md-6 p-4">
        <div class="my-3" *ngFor="let faq of faqs.questions;let i = index;">
          <ngb-accordion [closeOthers]="true" #ccc="ngbAccordion" activeIds="custom-panel-0">
            <ngb-panel id="custom-panel-{{i}}">
              <ng-template ngbPanelHeader let-opened="opened">
                <button ngbPanelToggle [ngClass]="{'closed': !opened}"
                  class="d-flex align-items-center justify-content-between pb-3 w-100">
                  <p [ngClass]="{'text-info' : opened}" class="m-0">{{faq.question}}</p>
                  <i *ngIf="!opened" class="fa fa-plus" aria-hidden="true"></i>
                  <i *ngIf="opened" class="fa fa-minus" aria-hidden="true"></i>

                </button>
              </ng-template>
              <ng-template ngbPanelContent>
                <p>{{faq.answer}}</p>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </div>
      <div class="col-md-6 p-4">
        <div class="my-3" *ngFor="let faq of faqs.questions;let i = index;">
          <ngb-accordion [closeOthers]="true" #ccc="ngbAccordion" activeIds="custom-panel-0">
            <ngb-panel id="custom-panel-{{i}}">
              <ng-template ngbPanelHeader let-opened="opened">
                <button ngbPanelToggle [ngClass]="{'closed': !opened}"
                  class="d-flex align-items-center justify-content-between pb-3 w-100">
                  <p [ngClass]="{'text-info' : opened}" class="m-0">{{faq.question}}</p>
                  <i *ngIf="!opened" class="fa fa-plus" aria-hidden="true"></i>
                  <i *ngIf="opened" class="fa fa-minus" aria-hidden="true"></i>

                </button>
              </ng-template>
              <ng-template ngbPanelContent>
                <p>{{faq.answer}}</p>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </div>
    </div>
  </div>
</section>
