<div class="modal-header border-0" dir="ltr">
  <button type="button" class="close position-absolute font-roboto" aria-label="Close"
    (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body p-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="view-details-header">
          <h5>
            عرض وصف وظيفي
          </h5>
          <h4>مدير حسابات </h4>
          <p>
            <i class="fa fa-user text-dark ml-1"></i>
            أعمال مالية ومحاسبة
          </p>
          <p>
            <i class="fa fa-user text-dark ml-1"></i>
            مطلوب خبرة 1-3 سنوات
          </p>
        </div>
        <div class="view-details-content">
          <h6>
            مسئوليات الوظيفة
          </h6>
          <p>مسئول عن ظبط النظام المحاسبى وتطبيقه طبقا للدورة المستندية
            مسئول عن ظبط النظام المحاسبى وتطبيقه طبقا للدورة المستندية
          </p>
          <p>مسئول عن ظبط النظام المحاسبى وتطبيقه طبقا للدورة المستندية </p>
          <p>مسئول عن ظبط النظام المحاسبى وتطبيقه طبقا للدورة المستندية </p>
          <p>مسئول عن ظبط النظام المحاسبى وتطبيقه طبقا للدورة المستندية </p>
          <p>مسئول عن ظبط النظام المحاسبى وتطبيقه طبقا للدورة المستندية
            مسئول عن ظبط النظام المحاسبى وتطبيقه طبقا للدورة المستندية
          </p>
          <p>مسئول عن ظبط النظام المحاسبى وتطبيقه طبقا للدورة المستندية </p>
          <p>مسئول عن ظبط النظام المحاسبى وتطبيقه طبقا للدورة المستندية </p>
          <h6>
            متطلبات الوظيفة
          </h6>
          <p>مسئول عن ظبط النظام المحاسبى وتطبيقه طبقا للدورة المستندية </p>
          <p>مسئول عن ظبط النظام المحاسبى وتطبيقه طبقا للدورة المستندية
            مسئول عن ظبط النظام المحاسبى وتطبيقه طبقا للدورة المستندية
          </p>
          <p>مسئول عن ظبط النظام المحاسبى وتطبيقه طبقا للدورة المستندية </p>
          <p>مسئول عن ظبط النظام المحاسبى وتطبيقه طبقا للدورة المستندية </p>
          <p>مسئول عن ظبط النظام المحاسبى وتطبيقه طبقا للدورة المستندية
            مسئول عن ظبط النظام المحاسبى وتطبيقه طبقا للدورة المستندية
          </p>
          <p>مسئول عن ظبط النظام المحاسبى وتطبيقه طبقا للدورة المستندية
            مسئول عن ظبط النظام المحاسبى وتطبيقه طبقا للدورة المستندية
          </p>
          <p>مسئول عن ظبط النظام المحاسبى وتطبيقه طبقا للدورة المستندية </p>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="modal-footer text-center pt-0">
  <!--  buttons-->
  <div class="col-md-6 text-center m-auto">
    <div class="d-grid text-center mt-4">
      <button class=" btn btn-outline-primary" [routerLink]="['hr-add-new-job-description']"
        (click)="activeModal.close('Close click')"> تعديل</button>
      <button class="btn btn-primary" (click)="activeModal.close('Close click')">إغلاق</button>
    </div>
  </div>
  <!-- / buttons -->
</div>
