<div class="modal-header border-0" dir="ltr">
  <button type="button" class="close position-absolute font-roboto" aria-label="Close"
    (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body p-0">
  <div class="container">
    <div class="row justify-content-center  m-2">
      <div class="col-md-12">
        <h5 class="text-primary mb-4">
          <i class="fa fa-pencil-square pl-2" aria-hidden="true"></i>
          رفض طلب التسجيل
        </h5>
        <p class="text-dark font-semibold mb-3">سنقوم بإرسال الملاحظات علي طلب التسجيل الي أحمد محمود</p>
        <p class="text-muted mt-2">
          <span class="text-info pl-3">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            ملاحظات
          </span>
          <span style="font-size: 14px;"> من فضلك ضع ملاحظاتك التي تمكن المستخدم من تقديم طلب تسجيل مقبول
          </span>
        </p>
      </div>
      <div class="col-md-12">
        <form #form="ngForm">
          <div class="form-group">
            <textarea class="form-control" rows="4" required ngModel name="hintMessage"
              #hintMessage="ngModel"></textarea>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
<div class="modal-footer row justify-content-center text-center pt-0 ">
  <div class="col-md-4 mb-3">
    <button type="button" class="btn btn-primary btn-block py-2" (click)="activeModal.close('Close click')">إرسال
      الملاحظات</button>
  </div>
</div>
