<div class="container my-5">
  <div class="row">
    <div class="col-md-9">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item text-dark" aria-current="page">
            <i class="fa fa-home" style="font-size: 28px;" aria-hidden="true"></i></li>
          <li class="breadcrumb-item d-flex align-items-center" aria-current="page">
            <p class="m-0 font-semibold">خدمات</p>
          </li>
          <li class="breadcrumb-item active d-flex align-items-center" aria-current="page">
            <p class="m-0 font-semibold">طلبات الترشيح</p>
          </li>
        </ol>
      </nav>
      <div class="form-row my-3">
        <div class="col">
          <h4 class="text-primary font-bold m-0 mb-3 d-inline-block ml-5"><i aria-hidden="true"
              class="fa fa-users pl-2"></i>
            طلبات الترشيح </h4>
          <div class="custom-control custom-radio custom-control-inline ml-4">
            <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
            <label class="custom-control-label text-muted" for="customRadioInline1">الطلبات الموجهة لي</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
            <label class="custom-control-label text-muted" for="customRadioInline2">كل الوظائف الشاغرة</label>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-3">
      <button class="btn btn-block py-2 mt-3 btn-primary">الطلبات التي قمت بمراجعتها</button>
    </div>
  </div>

  <div class="row">
    <!-- right side -->
    <div class="col-md-9">
      <!-- seeker card -->
      <div class="card-content">
        <div class="row align-items-center">
          <div class="col-md-2 text-center">
            <img src="../../../../assets/images/c-image.png" alt="">
          </div>
          <div class="col-md-8 d-flex">
            <p class="m-0 text-dark font-bold">مدير حسابات</p>
            <div class="alert d-inline-block alert-primary mr-3">
              <span>
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                منذ يومين
              </span>
            </div>
          </div>
          <div class="col-md-2 text-center">
            <button class="btn btn-outline-primary">تفاصيل</button>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-10 d-flex items flex-wrap pb-2">
            <p class="my-1 text-muted pl-2">
              <i class="fa fa-map-marker pl-1" aria-hidden="true"></i>
              الرياض، الشمال</p>
            <p class="my-1 text-muted  pl-2">
              <i class="fa fa-building-o pl-1" aria-hidden="true"></i>
              تشييد / مقاولات</p>
            <p class="my-1 text-muted  pl-2">
              <i class="fa fa-briefcase pl-1" aria-hidden="true"></i>
              أعمال مالية ومحاسبة</p>
            <p class="my-1 text-muted  pl-2">
              <i class="fa fa-user pl-1" aria-hidden="true"></i>
              خبرة 4 سنوات</p>
          </div>
        </div>
      </div>
      <!-- /seeker card -->
      <!-- seeker card -->
      <div class="card-content">
        <div class="row align-items-center">
          <div class="col-md-2 text-center">
            <img src="../../../../assets/images/c-image.png" alt="">
          </div>
          <div class="col-md-8 d-flex">
            <p class="m-0 text-dark font-bold">مدير حسابات</p>
            <div class="alert d-inline-block alert-primary mr-3">
              <span>
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                منذ يومين
              </span>
            </div>
          </div>
          <div class="col-md-2 text-center">
            <button class="btn btn-outline-primary">تفاصيل</button>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-10 d-flex items flex-wrap pb-2">
            <p class="my-1 text-muted pl-2">
              <i class="fa fa-map-marker pl-1" aria-hidden="true"></i>
              الرياض، الشمال</p>
            <p class="my-1 text-muted  pl-2">
              <i class="fa fa-building-o pl-1" aria-hidden="true"></i>
              تشييد / مقاولات</p>
            <p class="my-1 text-muted  pl-2">
              <i class="fa fa-briefcase pl-1" aria-hidden="true"></i>
              أعمال مالية ومحاسبة</p>
            <p class="my-1 text-muted  pl-2">
              <i class="fa fa-user pl-1" aria-hidden="true"></i>
              خبرة 4 سنوات</p>
          </div>
        </div>
        <div class="text-left px-3">
          <p class="m-0 text-primary">
            <i class="fa fa-exclamation-circle pl-1" aria-hidden="true"></i>
            تم مراجعة الطلب
          </p>

        </div>
      </div>
      <!-- /seeker card -->
      <!-- seeker card -->
      <div class="card-content">
        <div class="row align-items-center">
          <div class="col-md-2 text-center">
            <img src="../../../../assets/images/c-image.png" alt="">
          </div>
          <div class="col-md-8 d-flex">
            <p class="m-0 text-dark font-bold">مدير حسابات</p>
            <div class="alert d-inline-block alert-primary mr-3">
              <span>
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                منذ يومين
              </span>
            </div>
          </div>
          <div class="col-md-2 text-center">
            <button class="btn btn-outline-primary">تفاصيل</button>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-10 d-flex items flex-wrap pb-2">
            <p class="my-1 text-muted pl-2">
              <i class="fa fa-map-marker pl-1" aria-hidden="true"></i>
              الرياض، الشمال</p>
            <p class="my-1 text-muted  pl-2">
              <i class="fa fa-building-o pl-1" aria-hidden="true"></i>
              تشييد / مقاولات</p>
            <p class="my-1 text-muted  pl-2">
              <i class="fa fa-briefcase pl-1" aria-hidden="true"></i>
              أعمال مالية ومحاسبة</p>
            <p class="my-1 text-muted  pl-2">
              <i class="fa fa-user pl-1" aria-hidden="true"></i>
              خبرة 4 سنوات</p>
          </div>
        </div>
        <div class="text-left px-3">

          <p class="m-0 text-warning">
            <i class="fa fa-exclamation-circle pl-1" aria-hidden="true"></i>
            في إنتظار تعديل الطلب </p>
        </div>
      </div>
      <!-- /seeker card -->
      <!-- details button -->

      <div class="row justify-content-center">
        <div class="col-md-3 mx-5"><button class="btn btn-lg btn-primary my-4 py-2"><span class="mx-5"> المزيد
            </span></button>
        </div>
      </div>
      <!-- /details button -->

    </div>
    <!-- /right side -->
    <!-- left side -->
    <div class="col-md-3">
      <form>

        <div class="form-group">
          <label for="jobName">نوع الطلب</label>
          <div class="input-group">
            <select class="form-control" id="jobName" ngModel name="jobName" #jobName="ngModel">
              <option>عضو مجلس إدارة</option>
            </select>
            <span class="select-arrow position-absolute">
              <i class="fa fa-angle-down" style="color: inherit;"></i></span>
          </div>
        </div>
        <div class="form-group">
          <label for="speciality">قطاع عمل الشركة</label>
          <div class="input-group">
            <select class="form-control" id="speciality" ngModel name="speciality" #speciality="ngModel">
              <option>المقاولات</option>
            </select>
            <span class="select-arrow position-absolute">
              <i class="fa fa-angle-down" style="color: inherit;"></i></span>
          </div>
        </div>
        <div class="form-group">
          <label for="speciality">اسم الشركة</label>
          <div class="input-group">
            <select class="form-control" id="speciality" ngModel name="speciality" #speciality="ngModel">
              <option>اسم الشركة</option>
            </select>
            <span class="select-arrow position-absolute">
              <i class="fa fa-angle-down" style="color: inherit;"></i></span>
          </div>
        </div>
        <div class="form-group">
          <label for="exp">الموقع</label>
          <div class="input-group">
            <select class="form-control" id="exp" ngModel name="exp" #exp="ngModel">
              <option>الرياض</option>
            </select>
            <span class="select-arrow position-absolute">
              <i class="fa fa-angle-down" style="color: inherit;"></i></span>
          </div>
        </div>
        <div class="form-row my-3">
          <div class="col">
            <div>
              <label for="">سنين الخبرة</label>
            </div>
            <div class="custom-control custom-radio pr-4 py-2">
              <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
              <label class="custom-control-label text-muted" for="customRadioInline1">١ سنة</label>
            </div>
            <div class="custom-control custom-radio pr-4 py-2">
              <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
              <label class="custom-control-label text-muted" for="customRadioInline2">٣ سنوات</label>
            </div>
            <div class="custom-control custom-radio pr-4 py-2">
              <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
              <label class="custom-control-label text-muted" for="customRadioInline2">٥ سنوات</label>
            </div>
            <div class="custom-control custom-radio pr-4 py-2">
              <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
              <label class="custom-control-label text-muted" for="customRadioInline2">٣ سنوات</label>
            </div>
          </div>

        </div>
        <div class="mt-4">
          <button class="btn btn-primary btn-block py-2" type="submit">موافق</button>
        </div>
      </form>
    </div>
    <!--/left side -->

  </div>
</div>
