<div class="container my-5">
  <div class="row">
    <div class="col-md-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item text-dark" aria-current="page">
            <i class="fa fa-home" style="font-size: 28px;" aria-hidden="true"></i></li>
          <li class="breadcrumb-item d-flex align-items-center" aria-current="page">
            <p class="m-0 font-semibold">خدمات</p>
          </li>
          <li class="breadcrumb-item active d-flex align-items-center" aria-current="page">
            <p class="m-0 font-semibold">طلب الإعلان عن وظيفة جديدة</p>
          </li>
        </ol>
      </nav>
    </div>
    <div class="col-md-12">
      <section class="personal-info">
        <div class="header">
          <h4 class="py-4 pr-5 m-0">
            <span class="ml-2">
              <i class="fa fa-file-text-o" aria-hidden="true"></i>
            </span>
            البيانات الشخصية</h4>
          <p class="status">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            <i class="fa fa-check-circle" aria-hidden="true"></i>
          </p>
        </div>
        <div class="body">
          <form #form="ngForm">
            <!-- email info section -->
            <section class="section py-4 pr-5">

              <div class="row">

                <div class="col-md-4 mb-3">
                  <label for="phoneNumber">مدة الإعلان</label>
                  <div class="d-flex">

                    <input class="form-control ml-3" type="text" required ngModel name="phoneNumber"
                      #phoneNumber="ngModel">
                    <div class="input-group ml-2">
                      <select id="exampleFormControlSelect1" class="form-control">
                        <option>يوم</option>
                      </select>
                      <span class="select-arrow position-absolute"><i class="fa fa-angle-down"
                          style="color: inherit;"></i></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-row my-3">
                    <div class="col">
                      <div>
                        <label>هل تريد ملء بيانات الوظيفة يدويًا أم باستخدام أحد النماذج الجاهزة؟</label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline ml-4">
                        <input type="radio" id="customRadioInline1" name="customRadioInline1"
                          class="custom-control-input">
                        <label class="custom-control-label text-muted" for="customRadioInline1">يدويًا</label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline2" name="customRadioInline1"
                          class="custom-control-input">
                        <label class="custom-control-label text-muted" for="customRadioInline2">باستخدام أحد
                          النماذج</label>
                      </div>
                    </div>

                  </div>

                </div>
              </div>
            </section>
            <!-- basic info section -->
            <section class="section py-4 pr-5">

              <div class="row">
                <div class="form-group col-md-4">
                  <label for="firstName">المسمى الوظيفي</label>
                  <input class="form-control" type="text" required ngModel name="firstName" #firstName="ngModel">
                </div>
                <div class="form-group col-md-4">
                  <label for="middleName">التخصص</label>
                  <input class="form-control" type="text" required ngModel name="middleName" #middleName="ngModel">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-8"><label>عنوان الجهة
                  </label>
                  <div class="d-flex">
                    <div class="input-group ml-2">
                      <select id="exampleFormControlSelect1" class="form-control">
                        <option>الدولة</option>
                      </select>
                      <span class="select-arrow position-absolute"><i class="fa fa-angle-down"
                          style="color: inherit;"></i></span>
                    </div>
                    <div class="input-group ml-2">
                      <select id="exampleFormControlSelect1" class="form-control">
                        <option>المدينة</option>
                      </select>
                      <span class="select-arrow position-absolute"><i class="fa fa-angle-down"
                          style="color: inherit;"></i></span>
                    </div>
                    <div class="input-group ml-2">
                      <select id="exampleFormControlSelect1" class="form-control">
                        <option>المنطقة</option>
                      </select>
                      <span class="select-arrow position-absolute"><i class="fa fa-angle-down"
                          style="color: inherit;"></i></span>
                    </div>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="form-group col-md-4">
                  <label for="firstName">نوع الدوام</label>
                  <input class="form-control" type="text" required ngModel name="firstName" #firstName="ngModel">
                </div>
                <div class="form-group col-md-4">
                  <label for="middleName">الراتب</label>
                  <input class="form-control" type="text" required ngModel name="middleName" #middleName="ngModel">
                </div>
                <div class="form-group col-md-12">
                  <label for="middleName">مسئوليات الوظيفة</label>
                  <textarea class="form-control" rows="6" required ngModel name="middleName"
                    #middleName="ngModel"></textarea>
                </div>
                <div class="form-group col-md-12">
                  <label for="middleName">متطلبات الوظيفة</label>
                  <textarea class="form-control" rows="6" required ngModel name="middleName"
                    #middleName="ngModel"></textarea>
                </div>
              </div>

            </section>
            <section class="container-fluid  py-4 px-5">
              <div class="row">
                <div class="col-md-12">
                  <h5 class="text-primary">نماذج الوظائف الجاهزة</h5>
                </div>
              </div>
              <div class="row border">
                <div class="col-md-8 list d-grid small-card">
                  <div class="card-content p-2 border m-4">
                    <div>
                      <h5 class="text-primary">مدير حسابات</h5>
                      <p class="text-primary font-bold">خبرة 4 سنوات</p>
                    </div>
                    <div class="text-left mt-4">
                      <button class="btn btn-link text-primary font-bold">عرض</button>
                      <button class="btn btn-primary" type="submit">موافق</button>
                    </div>
                  </div>
                  <div class="card-content p-2 border m-4">
                    <div>
                      <h5 class="text-primary">مدير حسابات</h5>
                      <p class="text-primary font-bold">خبرة 4 سنوات</p>
                    </div>
                    <div class="text-left mt-4">
                      <button class="btn btn-link text-primary font-bold">عرض</button>
                      <button class="btn btn-primary" type="submit">موافق</button>
                    </div>
                  </div>
                  <div class="card-content p-2 border m-4">
                    <div>
                      <h5 class="text-primary">مدير حسابات</h5>
                      <p class="text-primary font-bold">خبرة 4 سنوات</p>
                    </div>
                    <div class="text-left mt-4">
                      <button class="btn btn-link text-primary font-bold">عرض</button>
                      <button class="btn btn-primary" type="submit">موافق</button>
                    </div>
                  </div>
                  <div class="card-content p-2 border m-4">
                    <div>
                      <h5 class="text-primary">مدير حسابات</h5>
                      <p class="text-primary font-bold">خبرة 4 سنوات</p>
                    </div>
                    <div class="text-left mt-4">
                      <button class="btn btn-link text-primary font-bold">عرض</button>
                      <button class="btn btn-primary" type="submit">موافق</button>
                    </div>
                  </div>
                  <div class="card-content p-2 border m-4">
                    <div>
                      <h5 class="text-primary">مدير حسابات</h5>
                      <p class="text-primary font-bold">خبرة 4 سنوات</p>
                    </div>
                    <div class="text-left mt-4">
                      <button class="btn btn-link text-primary font-bold">عرض</button>
                      <button class="btn btn-primary" type="submit">موافق</button>
                    </div>
                  </div>
                  <div class="card-content p-2 border m-4">
                    <div>
                      <h5 class="text-primary">مدير حسابات</h5>
                      <p class="text-primary font-bold">خبرة 4 سنوات</p>
                    </div>
                    <div class="text-left mt-4">
                      <button class="btn btn-link text-primary font-bold">عرض</button>
                      <button class="btn btn-primary" type="submit">موافق</button>
                    </div>
                  </div>
                  <div class="card-content p-2 border m-4">
                    <div>
                      <h5 class="text-primary">مدير حسابات</h5>
                      <p class="text-primary font-bold">خبرة 4 سنوات</p>
                    </div>
                    <div class="text-left mt-4">
                      <button class="btn btn-link text-primary font-bold">عرض</button>
                      <button class="btn btn-primary" type="submit">موافق</button>
                    </div>
                  </div>
                  <div class="card-content p-2 border m-4">
                    <div>
                      <h5 class="text-primary">مدير حسابات</h5>
                      <p class="text-primary font-bold">خبرة 4 سنوات</p>
                    </div>
                    <div class="text-left mt-4">
                      <button class="btn btn-link text-primary font-bold">عرض</button>
                      <button class="btn btn-primary" type="submit">موافق</button>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 p-4">
                  <h6 class="text-primary mb-4">تصفية النتائج</h6>
                  <form>
                    <div class="form-group   mb-3">
                      <label for="name">المسمى الوظيفي</label>
                      <input class="form-control" type="text" required ngModel name="name" #name="ngModel">
                    </div>
                    <div class="form-group   mb-3">
                      <label for="name">التخصص</label>
                      <input class="form-control" type="text" required ngModel name="name" #name="ngModel">
                    </div>
                    <div class="form-group   mb-3">
                      <label for="name">المؤهل</label>
                      <input class="form-control" type="text" required ngModel name="name" #name="ngModel">
                    </div>
                    <div class="cta text-center my-4 d-grid">
                      <button class="btn btn-outline-primary">عرض الكل</button>
                      <button class="btn btn-primary" type="submit">موافق</button>
                    </div>
                  </form>
                </div>
              </div>
            </section>

            <!--next button -->
            <div class="row">
              <div class="col-md-3 mx-5">
                <button class="btn btn-lg btn-primary my-4 py-2">
                  <span class="mx-5">
                    التالي
                  </span>
                </button> </div>
            </div>
          </form>
        </div>
      </section>



      <section class="personal-info">
        <div class="header">
          <h4 class="py-4 pr-5 m-0">
            <span class="ml-2">
              <i class="fa fa-file-text-o" aria-hidden="true"></i>
            </span>
            بيانات مدير الموارد البشرية</h4>
          <p class="status">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            <i class="fa fa-check-circle" aria-hidden="true"></i>
          </p>
        </div>
        <div class="body">
          <form #form="ngForm">
            <!-- email info section -->
            <section class="section py-4 pr-5">

              <div class="row">

                <div class="col-md-12">
                  <div class="form-row my-3">
                    <div class="col">
                      <div>
                        <label class="mb-0">هل تريد تحديد مدير توظيف معين؟</label>
                        <p class=" text-muted">اختر لا إذا أردت أن يظهر الطلب أمام جميع مديري التوظيف</p>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline ml-4">
                        <input type="radio" id="customRadioInline1" name="customRadioInline1"
                          class="custom-control-input">
                        <label class="custom-control-label text-muted" for="customRadioInline1">نعم</label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline2" name="customRadioInline1"
                          class="custom-control-input">
                        <label class="custom-control-label text-muted" for="customRadioInline2">
                          لا</label>
                      </div>
                    </div>

                  </div>

                </div>
              </div>
            </section>
            <!-- basic info section -->
            <section class="container-fluid  py-4 px-5">
              <div class="row">
                <div class="col-md-12">
                  <h5 class="text-primary">قائمة مديري الموارد البشرية</h5>
                </div>
              </div>
              <div class="row border">
                <div class="col-md-8 list">
                  <div class="card-content border mx-4 my-3">
                    <div class="row align-items-center">
                      <div class="col-md-9">
                        <div class="container-fluid">
                          <div class="row align-items-center">
                            <div class="col-md-12 align-items-center d-flex text-right pt-2 mb-3">
                              <p class="m-0 text-primary font-bold">محمد محمود سالم</p>
                              <div class="alert d-inline-block alert-primary mr-3 py-0">
                                <span class="font-roboto">
                                  98%
                                </span>
                              </div>
                            </div>
                            <div class="col-md-12 d-flex flex-wrap justify-content-between pb-2">
                              <p class="my-1 text-muted">
                                <i class="fa fa-map-marker pl-1" aria-hidden="true"></i>
                                الرياض، الشمال</p>

                              <p class="my-1 text-dark">
                                <i class="fa fa-user pl-1" aria-hidden="true"></i>
                                خبرة 4 سنوات</p>

                              <p class="my-1 text-dark">
                                <i class="fa fa-file-text pl-1" aria-hidden="true"></i>
                                25 مقابلة وظيفية </p>
                            </div>
                          </div>
                        </div>


                      </div>

                      <div class="col-md-3 text-center">
                        <button class="btn btn-primary  my-2">اختيار</button>
                      </div>
                    </div>


                  </div>
                  <div class="card-content border mx-4 my-3">
                    <div class="row align-items-center">
                      <div class="col-md-9">
                        <div class="container-fluid">
                          <div class="row align-items-center">
                            <div class="col-md-12 align-items-center d-flex text-right pt-2 mb-3">
                              <p class="m-0 text-primary font-bold">محمد محمود سالم</p>
                              <div class="alert d-inline-block alert-primary mr-3 py-0">
                                <span class="font-roboto">
                                  98%
                                </span>
                              </div>
                            </div>
                            <div class="col-md-12 d-flex  flex-wrap justify-content-between pb-2">
                              <p class="my-1 text-muted">
                                <i class="fa fa-map-marker pl-1" aria-hidden="true"></i>
                                الرياض، الشمال</p>

                              <p class="my-1 text-dark">
                                <i class="fa fa-user pl-1" aria-hidden="true"></i>
                                خبرة 4 سنوات</p>

                              <p class="my-1 text-dark">
                                <i class="fa fa-file-text pl-1" aria-hidden="true"></i>
                                25 مقابلة وظيفية </p>
                            </div>
                          </div>
                        </div>


                      </div>

                      <div class="col-md-3 text-center">
                        <button class="btn btn-primary  my-2">اختيار</button>
                      </div>
                    </div>


                  </div>
                  <div class="card-content border mx-4 my-3">
                    <div class="row align-items-center">
                      <div class="col-md-9">
                        <div class="container-fluid">
                          <div class="row align-items-center">
                            <div class="col-md-12 align-items-center d-flex text-right pt-2 mb-3">
                              <p class="m-0 text-primary font-bold">محمد محمود سالم</p>
                              <div class="alert d-inline-block alert-primary mr-3 py-0">
                                <span class="font-roboto">
                                  98%
                                </span>
                              </div>
                            </div>
                            <div class="col-md-12 d-flex flex-wrap justify-content-between pb-2">
                              <p class="my-1 text-muted">
                                <i class="fa fa-map-marker pl-1" aria-hidden="true"></i>
                                الرياض، الشمال</p>

                              <p class="my-1 text-dark">
                                <i class="fa fa-user pl-1" aria-hidden="true"></i>
                                خبرة 4 سنوات</p>

                              <p class="my-1 text-dark">
                                <i class="fa fa-file-text pl-1" aria-hidden="true"></i>
                                25 مقابلة وظيفية </p>
                            </div>
                          </div>
                        </div>


                      </div>

                      <div class="col-md-3 text-center">
                        <button class="btn btn-primary  my-2">اختيار</button>
                      </div>
                    </div>
                  </div>
                  <div class="card-content border mx-4 my-3">
                    <div class="row align-items-center">
                      <div class="col-md-9">
                        <div class="container-fluid">
                          <div class="row align-items-center">
                            <div class="col-md-12 align-items-center d-flex text-right pt-2 mb-3">
                              <p class="m-0 text-primary font-bold">محمد محمود سالم</p>
                              <div class="alert d-inline-block alert-primary mr-3 py-0">
                                <span class="font-roboto">
                                  98%
                                </span>
                              </div>
                            </div>
                            <div class="col-md-12 d-flex flex-wrap justify-content-between pb-2">
                              <p class="my-1 text-muted">
                                <i class="fa fa-map-marker pl-1" aria-hidden="true"></i>
                                الرياض، الشمال</p>

                              <p class="my-1 text-dark">
                                <i class="fa fa-user pl-1" aria-hidden="true"></i>
                                خبرة 4 سنوات</p>

                              <p class="my-1 text-dark">
                                <i class="fa fa-file-text pl-1" aria-hidden="true"></i>
                                25 مقابلة وظيفية </p>
                            </div>
                          </div>
                        </div>


                      </div>

                      <div class="col-md-3 text-center">
                        <button class="btn btn-primary  my-2">اختيار</button>
                      </div>
                    </div>


                  </div>
                  <div class="card-content border mx-4 my-3">
                    <div class="row align-items-center">
                      <div class="col-md-9">
                        <div class="container-fluid">
                          <div class="row align-items-center">
                            <div class="col-md-12 align-items-center d-flex text-right pt-2 mb-3">
                              <p class="m-0 text-primary font-bold">محمد محمود سالم</p>
                              <div class="alert d-inline-block alert-primary mr-3 py-0">
                                <span class="font-roboto">
                                  98%
                                </span>
                              </div>
                            </div>
                            <div class="col-md-12 d-flex flex-wrap justify-content-between pb-2">
                              <p class="my-1 text-muted">
                                <i class="fa fa-map-marker pl-1" aria-hidden="true"></i>
                                الرياض، الشمال</p>

                              <p class="my-1 text-dark">
                                <i class="fa fa-user pl-1" aria-hidden="true"></i>
                                خبرة 4 سنوات</p>

                              <p class="my-1 text-dark">
                                <i class="fa fa-file-text pl-1" aria-hidden="true"></i>
                                25 مقابلة وظيفية </p>
                            </div>
                          </div>
                        </div>


                      </div>

                      <div class="col-md-3 text-center">
                        <button class="btn btn-success my-2">
                          <i class="fa fa-check px-2" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>


                  </div>
                  <div class="card-content border mx-4 my-3">
                    <div class="row align-items-center">
                      <div class="col-md-9">
                        <div class="container-fluid">
                          <div class="row align-items-center">
                            <div class="col-md-12 align-items-center d-flex text-right pt-2 mb-3">
                              <p class="m-0 text-primary font-bold">محمد محمود سالم</p>
                              <div class="alert d-inline-block alert-primary mr-3 py-0">
                                <span class="font-roboto">
                                  98%
                                </span>
                              </div>
                            </div>
                            <div class="col-md-12 d-flex flex-wrap justify-content-between pb-2">
                              <p class="my-1 text-muted">
                                <i class="fa fa-map-marker pl-1" aria-hidden="true"></i>
                                الرياض، الشمال</p>

                              <p class="my-1 text-dark">
                                <i class="fa fa-user pl-1" aria-hidden="true"></i>
                                خبرة 4 سنوات</p>

                              <p class="my-1 text-dark">
                                <i class="fa fa-file-text pl-1" aria-hidden="true"></i>
                                25 مقابلة وظيفية </p>
                            </div>
                          </div>
                        </div>


                      </div>

                      <div class="col-md-3 text-center">
                        <button class="btn btn-primary  my-2">اختيار</button>
                      </div>
                    </div>


                  </div>
                  <div class="card-content border mx-4 my-3">
                    <div class="row align-items-center">
                      <div class="col-md-9">
                        <div class="container-fluid">
                          <div class="row align-items-center">
                            <div class="col-md-12 align-items-center d-flex text-right pt-2 mb-3">
                              <p class="m-0 text-primary font-bold">محمد محمود سالم</p>
                              <div class="alert d-inline-block alert-primary mr-3 py-0">
                                <span class="font-roboto">
                                  98%
                                </span>
                              </div>
                            </div>
                            <div class="col-md-12 d-flex flex-wrap justify-content-between pb-2">
                              <p class="my-1 text-muted">
                                <i class="fa fa-map-marker pl-1" aria-hidden="true"></i>
                                الرياض، الشمال</p>
                              <p class="my-1 text-dark">
                                <i class="fa fa-user pl-1" aria-hidden="true"></i>
                                خبرة 4 سنوات</p>
                              <p class="my-1 text-dark">
                                <i class="fa fa-file-text pl-1" aria-hidden="true"></i>
                                25 مقابلة وظيفية </p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 text-center">
                        <button class="btn btn-primary  my-2">اختيار</button>
                      </div>
                    </div>


                  </div>
                </div>
                <div class="col-md-4 p-4">
                  <h6 class="text-primary mb-4">تصفية النتائج</h6>
                  <form>
                    <div class="form-group   mb-3">
                      <label for="name">الاسم</label>
                      <input class="form-control" type="text" required ngModel name="name" #name="ngModel">
                    </div>
                    <div class="form-group   mb-3">
                      <label for="name">الخبرة</label>
                      <input class="form-control" type="text" required ngModel name="name" #name="ngModel">
                    </div>
                    <div class="form-group   mb-3">
                      <label for="name">العنوان</label>
                      <input class="form-control" type="text" required ngModel name="name" #name="ngModel">
                    </div>
                    <div class="cta text-center my-4 d-grid">
                      <button class="btn btn-outline-primary">عرض الكل</button>
                      <button class="btn btn-primary" type="submit">موافق</button>
                    </div>
                  </form>
                </div>
              </div>
            </section>



            <!--next button -->
            <div class="row">
              <div class="col-md-3 mx-5">
                <button class="btn btn-lg btn-primary my-4 py-2" routerLink="/company/requests">
                  <span class="mx-5">
                    إرسال الطلب
                  </span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </section>
    </div>
  </div>
</div>
