<div class="top-nav">
  <div class="container">
    <div class="row py-2 align-items-center justify-content-between">
      <div class="pr-3">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input type="text" placeholder="  أبحث هنا ...">
      </div>
      <div>
        <button class="btn btn-link text-white font-bold">
          <i class="fa fa-language pl-2" aria-hidden="true"></i>
          عربي
        </button>
        <ul class="list-unstyled d-inline-flex pt-0 align-items-center m-0">
          <li class="ml-3"><a href="" class="text-white"><i class="fa fa-facebook-square"></i></a></li>
          <li class="ml-3"><a href="" class="text-white"><i class="fa fa-linkedin-square"></i></a></li>
          <li class="ml-3"><a href="" class="text-white"><i class="fa fa-twitter-square"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
