 <div class="modal-header border-0" dir="ltr">
   <button type="button" class="close position-absolute font-roboto" aria-label="Close"
     (click)="activeModal.dismiss('Cross click')">
     <span aria-hidden="true">&times;</span>
   </button>
 </div>
 <div class="modal-body">
   <div class="container">
     <div class="row justify-content-center">
       <div class="col-md-12 text-center">
         <i class="fa fa-check-circle text-success" style="font-size: 80px;" aria-hidden="true"></i>
         <h5 class="text-primary mt-3">تم إرسال الطلب</h5>
       </div>
     </div>

   </div>
 </div>
 <div class="modal-footer justify-content-center border-0">
   <button type="button" class="btn btn-primary px-5 py-2 mb-4"
     (click)="activeModal.close('Close click')">موافق</button>
 </div>
