/* You can add global styles to this file, and also import other style files */

/* Fonts */
@font-face {
  font-family: Roboto;
  src: url('./assets/fonts/Roboto-Regular.ttf');
  font-weight: bold;
}

@font-face {
  font-family: gulf-bold;
  src: url('./assets/fonts/gulf-bold.ttf');
  font-weight: bolder;
}

@font-face {
  font-family: gulf-medium;
  src: url('./assets/fonts/gulf-medium.ttf');
  font-weight: 400;
}

@font-face {
  font-family: gulf-semibold;
  src: url('./assets/fonts/gulf-semibold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: gulf-text;
  src: url('./assets/fonts/gulf-text.ttf');
  font-weight: 300;
}

@font-face {
  font-family: gulf-thin;
  src: url('./assets/fonts/gulf-thin.ttf');
  font-weight: 200;
}

@font-face {
  font-family: gulf-ultralight;
  src: url('./assets/fonts/gulf-ultralight.ttf');
  font-weight: 100;
}

@font-face {
  font-family: gulf-light;
  src: url('./assets/fonts/gulf-light.ttf');
  font-weight: 100;
}

//responsive breakpoints
$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; //800px
$bp-small: 37.5em; //600px
// colors
$main-color: #003F84;
$info-color: #3F9BC8;
$title-color:#0057FF;

/*
  scroll-bar
*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: $main-color;
}


body {
  font-family: gulf-medium;
  letter-spacing: 0;
  line-height: 24px;
  color: #121315;
  direction: rtl;
  text-align: right;
  background-color: #FAFBFC;
}

.font-bold {
  font-family: gulf-bold;
}

.font-semibold {
  font-family: gulf-semibold;
}

.font-medium {
  font-family: gulf-medium !important;
}

.font-roboto {
  font-family: Roboto;
}


.text-primary {
  color: $main-color !important;
}

.text-success {
  color: #34cc61 !important;
}

.text-gold {
  color: #C29E6F;
}

.text-blue {
  color: $title-color;
}


.text-warning {
  color: #FFB44B;
}

.bg-primary {
  background-color: #ccd9e6 !important;
}

.bg-info {
  background-color: #3F9BC8 !important;
}

.bg-muted {
  background-color: #A9A9A9;
}

.bg-gold {
  background-color: #C29E6F;
}

.bg-success {
  color: #34cc61 !important;
}

.bg-light-grey {
  background-color: #CDCDCD;
}

.text-info {
  color: $info-color !important;
}

.text-light-grey {
  color: #CDCDCD;
}

.badge-light {
  color: $main-color;
  background-color: #fff;
  padding: .6em 1.6em;
  font-size: 16px;
  border-radius: 5px;
}

.text-underline {
  text-decoration: underline;
}

.text-muted {
  color: #666666;
}

.text-dark {
  color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: gulf-bold;
  line-height: 1.5em;
}


.btn {
  border-radius: 5px;

}

.btn-primary {
  background-color: $main-color !important;
  color: #fff !important;

  &:hover,
  &:focus {
    outline: none;
    border-color: rgba(0, 63, 132, .2);
    box-shadow: 0 0 0 0.2rem rgba(0, 63, 132, .2)
  }
}

.btn-info {
  background-color: $info-color !important;

  &:hover,
  &:focus {
    outline: none;
    background-color: rgba(63, 154, 200);
    border-color: rgba(63, 154, 200, 0.7);
    box-shadow: 0 0 0 0.2rem rgba(63, 154, 200, 0.7)
  }

}


.btn-outline-primary {
  border-color: $main-color;
  color: $main-color !important;

  &.active {
    color: #fff !important;
  }

  &:hover,
  &:focus {
    outline: none;
    border-color: rgba(0, 63, 132, .2);
    box-shadow: 0 0 0 0.2rem rgba(0, 63, 132, .2);
    color: #fff !important;
    background-color: $main-color !important;
  }
}

.btn-outline-danger {
  border-color: #FA6457;
  color: #FA6457 !important;

  &.active {
    color: #fff !important;
  }

  &:hover,
  &:focus {
    outline: none;
    border-color: #FA6457;
    box-shadow: 0 0 0 0.2rem #FA6457;
    color: #fff !important;
    background-color: #FA6457 !important;
  }
}


select.form-control {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: relative;
}

.select-arrow {
  left: 10px;
  top: 10px;
  z-index: 6;
}

.plus-btn {
  left: 5px;
  top: 5px;
  z-index: 6;

  button {
    width: 40px;
    height: 36px;

  }
}

.alert {
  padding: .2rem .5rem;
  margin: 0;
  border: 0;
  border-radius: 5px;
  font-size: 14px;

  &.alert-primary {
    background: rgb(63, 155, 200, .2);
    color: #3F9BC8;
  }

  &.alert-gold {
    background: rgb(194, 158, 111, .2);
    color: #C29E6F;
  }

  &.alert-danger {
    background: rgb(250, 100, 87, .2);
    color: #FA6457;
  }

  &.alert-success {
    background: rgb(52, 204, 97, .2);
    color: #34CC61;
  }

  &.alert-warning {
    background: rgb(255, 180, 75, .2);
    color: #FFB44B;
  }
}

.badges {
  .badge-info {
    background-color: rgb(63, 155, 200, .2);
    color: $info-color;
    font-size: 18px;
    font-family: gulf-thin;
    margin-left: 10px;
    margin-bottom: 5px;
    border-radius: 5px;

    a {
      color: inherit;
    }
  }
}

.breadcrumb-item+.breadcrumb-item::before {
  display: inline-block;
  padding-right: 1rem;
  padding-left: .5rem;
  color: #343a40;
  content: "\f053";
  font-family: FontAwesome;
}

.dropdown-toggle::after {
  margin-right: 10px;
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f107";
  border: none;
}

.breadcrumb {
  background-color: transparent;
}

.breadcrumb-item {
  p {
    font-size: 18px;
  }

  &.active {
    &::before {
      color: $main-color;

    }

    color: $main-color;
  }
}



.testemonials {
  background: #FAFBFC;
  min-height: 390px;
  height: 390px;

  p {
    font-family: gulf-bold;
    line-height: 2rem;
    color: #333333;
  }

  h6 {
    color: $main-color;
  }

  .carousel-indicators {
    bottom: -50px;

    li {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: rgba(154, 195, 202, 0.8);

      &.active {
        background-color: $main-color;

      }
    }
  }
}

.user-registration,
.company-registration,
.recruiter-registration {
  .background {
    @media only screen and (max-width: $bp-small) {
      display: none !important;
    }
  }

  .form {
    h4 {
      color: $main-color;
    }

    label {
      font-family: gulf-semibold;
      font-size: 17px;
      color: #333333;
    }

    input {
      height: 46px;
    }

    .showPassword {
      left: 10px;
      top: 12px;
      z-index: 6;
      color: #CDCDCD;
      font-size: 22px;

      &.passwordShown {
        color: $info-color;

      }
    }
  }
}


.personal-info,
.qualifications,
.practical-experiences,
.skills-interests {
  background-color: #fff;

  .header {
    background: $info-color;
    color: #fff;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .status {
      margin: 0;
      font-size: 28px;
      padding-left: 1.5rem;
      text-align: left;

    }
  }

  .body {
    border: 1px solid #E5E5E5;
    border-radius: 0px 0px 5px 5px;

    .custom-tooltip {
      .tooltip-inner {
        background-color: #fff;
        color: #666666;
        border: 0.5px solid #E2E2E2;
        box-shadow: 0px 10px 35px #003F841A;
      }

      .arrow::before {
        border-left-color: #666666;
      }
    }

    .jumbotron {
      background: #F8F9FC;
      border: 1px solid #CDCDCD;
      border-radius: 5px;

      p {
        color: $info-color;
        margin: 0;

        &.date {
          color: $main-color;

        }
      }

      h3 {
        color: $main-color;

        span {
          font-size: 12px;
          display: inline-block;
        }
      }

      button {
        font-family: gulf-semibold;

        i {
          font-size: 18px;

        }
      }
    }

    .section {
      padding-left: 15rem;
      border-bottom: 1px solid #E2E2E2;

      @media only screen and (max-width: $bp-medium) {
        padding-left: 5rem;
      }

      @media only screen and (max-width: $bp-small) {
        padding-left: 2rem;
      }
    }

    label {
      font-family: gulf-semibold;
      font-size: 17px;
      color: #333333;
    }

    input,
    select {
      height: 46px;
      border: 1px solid #0000004D;
      border-radius: 5px;
    }

  }
}

.custom-control-label {

  &::after,
  &::before {
    left: unset;
    right: -1.5rem;

  }
}

.cursor-pointer {
  cursor: pointer;
}

.input-group>.custom-select:not(:last-child),
.input-group>.form-control:not(:last-child) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

div.file-upload {
  position: relative;
  overflow: hidden;

  input {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
  }
}


.intl-tel-input {
  width: 100%;

  .flag-container {
    border-right: 1px solid #D8D8D8;
    z-index: 2;
  }
}

ngb-carousel {
  &:focus {
    outline: none;
  }
}

.img-fluid {
  object-fit: contain;

}

.home {

  .nav-tabs {


    .nav-item {
      margin: 0 2em;
    }

    .nav-link {
      border: none;
      font-family: gulf-bold;
      font-size: 24px;
      color: #CDCDCD;

      &.active {
        color: $main-color;
        padding-bottom: 1em;
        border-bottom: 5px solid $main-color;
      }
    }

    @media only screen and (max-width: $bp-large) {
      display: flex;

      .nav-item {
        margin: 0;
      }

      .nav-link {

        font-size: 16px;
      }
    }
  }
}

.recruiter {
  .tab-content {
    .card-content {

      &:hover {
        border-right: 4px solid #3F9BC8;
        transition: all .1s ease-in;
      }

    }
  }

  .nav-tabs {
    padding: 0;

    .nav-link {
      border: none;
      font-family: gulf-bold;
      font-size: 16px;
      color: #CDCDCD;
      padding: 15px 30px;

      &.active {
        color: $main-color;
        background: #e2f0f7;
      }
    }
  }
}

#faqs.faqs {
  .card {
    border: unset;

    .card-header {
      padding: 0;
      margin-bottom: 0;
      background-color: unset;
      border-bottom: unset;

      p {
        font-size: 18px;
        font-family: gulf-semibold;
        color: #333333;

        i {
          font-size: 20px;

        }
      }

      button {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: unset;

        &.closed {
          border-bottom: 1px solid #CDCDCD;
          color: #333333;
        }

        &:focus {
          outline: none;
        }
      }
    }

    .card-body {
      margin-top: 10px;
      border: 0;
      padding: 0;

      p {
        color: #666666;
        line-height: 1.8rem;
        font-size: 15px;
      }
    }

  }
}

.d-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;
}

.modal-footer {
  border-top: 0 !important;
}

textarea {
  resize: none !important;
}

label {
  font-family: gulf-semibold;
  font-size: 17px;
  color: #333333;
}

.big-modal {
  .modal-content {
    max-width: 665px;
    margin: 0 auto;

  }
}

.modal-content {
  button:focus {
    outline: unset !important;
  }

  textarea {
    border: 1px solid #666666;
    border-radius: 5px;
  }
}
