<footer>
  <div class="container">
    <div class="row align-items-center py-4">
      <div class="col-md-4 my-4">
        <img class="img-fluid footer-logo" src="./../../../../assets/images/logo-w.svg" alt="Kafaat logo">
        <div class="mt-4">
          <a href="">
            <img class="img-fluid footer-logo mt-2" src="./../../../../assets/images/footer/app-store.svg"
              alt="app store">
          </a>
          <a href="">
            <img class="img-fluid footer-logo mr-3 mt-2" src="./../../../../assets/images/footer/google-play.svg"
              alt="google play">
          </a>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-3 my-4">
            <h5 class="mb-3">روابط سريعة</h5>
            <ul class="list-unstyled p-0 m-0">
              <li class="nav-item">
                <a href="" class="text-white">طالبي العمل</a>
              </li>
              <li class="nav-item">
                <a href="" class="text-white">لمديري الموارد البشرية</a>
              </li>
              <li class="nav-item">
                <a href="" class="text-white">للشركات والجهات</a>
              </li>
            </ul>
          </div>
          <div class="col-md-3 my-4">
            <h5 class="mb-3">خدمات حكومية</h5>
            <ul class="list-unstyled p-0 m-0">
              <li class="nav-item">
                <a href="" class="text-white py-0">وزارة الصحة السعودية</a>
              </li>
              <li class="nav-item">
                <a href="" class="text-white">وزارة الإعلام السعودية</a>
              </li>
              <li class="nav-item">
                <a href="" class="text-white">وزارة الطاقة</a>
              </li>
            </ul>
          </div>
          <div class="col-md-3 my-4">
            <ul class="list-unstyled p-0 m-0">
              <li class="nav-item">
                <a href="" class="text-white py-0">خريطة الموقع</a>
              </li>
              <li class="nav-item">
                <a href="" class="text-white">اخلاء المسئولية</a>
              </li>
              <li class="nav-item">
                <a href="" class="text-white">بنود وشروط الاستخدام</a>
              </li>
              <li class="nav-item">
                <a href="" class="text-white">الخصوصية</a>
              </li>
            </ul>
          </div>
          <div class="col-md-3 my-4">
            <h5 class="mb-0 text-white">تابعنا</h5>
            <ul class="list-unstyled d-flex p-0 mt-4">
              <li class="ml-3">
                <a href="" class="text-white ">
                  <i class="fa fa-facebook-square"></i>
                </a>
              </li>
              <li class="ml-3">
                <a href="" class="text-white ">
                  <i class="fa fa-linkedin-square"></i>
                </a>
              </li>
              <li class="ml-3">
                <a href="" class="text-white ">
                  <i class="fa fa-twitter-square"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dark-footer">
    <div class="container text-left">
      <p class="m-0 py-4 text-white">جميع الحقوق محفوظة لشركة كفاءات</p>
    </div>
  </div>

</footer>
